<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
	<title>WMS CLS app</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />

	<script src ="https://code.jquery.com/jquery-1.11.2.min.js"></script>

	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">

	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body onload="logo()">
<div class="main-agileits">
	<div th:include="fragments/header :: header"></div>
</div>
<div id="navigate-panel" style="float: left" class="mainw4-agileinfo">
	<div sec:authorize="!hasRole('ROLE_SCANNER')" th:include="fragments/stockNavigation :: stockNavigation"></div>
</div>

<div id="content" class="mainw3-agileinfo">
	<div class="login-form">
		<form method="post" th:action="@{/scanner/produceMenuManualWorkProductionNumberFound}">
			<div th:include="fragments/scannerProduceProduction :: scannerProduceProduction"></div><br/>
			<div class="formDescription" th:text="#{app.doYouConfirmTheProduction} + ' ' + ${workToDoFound.piecesQty} + ' ' + #{app.piecesOf} +  ' ' + ${workToDoFound.article} + ' ' + #{app.fromTheIntermediateArticlesBelow}"></div><br/><br/>
			<br/><br/>
			<table style="color: white;text-align: left;width:100%">
				<tr th:each="workDetails : ${workDetailsList}">
					<td th:text="${workDetails.article.article_number}"></td>
					<td th:text="${workDetails.piecesQty} + ' ' + #{app.each}"></td>
				</tr>
			</table>
			<br/><br/>
			<input  type="hidden" th:value="${token}" name="token"/>
			<input  type="hidden" th:value="${productionNumber}" name="productionNumberToConfirm"/>
			<section style="display: flex; align-items: center;justify-content: center;">
				<a style="color:white"  th:href="@{${'/scanner/' + token + '/' + warehouse + '/' + equipment + '/5/2'}}"><div class="circleBig" th:title="#{app.moveBack}"><-</div></a>
				<button type="submit" class="circleBig" style="font-size:12px" th:value="true" name="produceConfirmation" th:text="#{app.confirm}"></button>
			</section>
		</form>

		<div th:include="fragments/footer :: footer"></div>
	</div>
	<div class="w3copyright-agile">
		<p>© 2017 Tiny Ui Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
	</div>
</div>
<script type="text/javascript" th:src="@{/js/logo.js}"></script>
</body>
</html>