<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>WMS CLS app</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />

	<script src ="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>
	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">

<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body onload="logo()">

	<div class="main-agileits">
		<div th:include="fragments/header :: header"></div>
		<div class="mainw3-agileinfo">

			<div class="login-form">  
				<div class="login-agileits-top"> 	
					<form>
						<p th:if="${userExists} == true" th:text="#{app.resetPasswordConf.info1}" style="color: white;font-weight: normal;text-align: center">
						<p  th:if="${userExists} == false" th:text="#{app.resetPasswordConf.info2}" style="color: white;font-weight: normal;text-align: center">
						</p><br/><br/>
						<a style="cursor: pointer" th:href="@{/blog/resetPassword}"><div th:text="#{app.contactForm.info3}" class="btn" style="color:white;margin-right: auto;margin-left: auto;text-align: center"></div></a>
						<a style="cursor: pointer" th:href="@{/index}"><div th:text="#{app.contactForm.info2}" class="btn" style="margin-right: auto;margin-left: auto;text-align: center"></div></a>
					</form>
				</div>
				<div th:include="fragments/footer :: footer"></div>
			</div> 
		</div>	
	</div>	

	<div class="w3copyright-agile">
		<p>© 2017 Tiny Ui Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
	</div>
</body>
</html>