<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>WMS CLS app</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />

	<script src ="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>

	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">

	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body onload="logo()">
<div class="main-agileits">
	<div th:include="fragments/header :: header"></div>
</div>

<div id="navigate-panel" style="float: left" class="mainw4-agileinfo">
	<div th:include="fragments/stockNavigation :: stockNavigation"></div>
</div>

<div id="content" class="mainw3-agileinfo">
	<div class="login-form">
		<form  method="post" th:action="@{/shipment/addCommentShipment}">
			<div class="titleList" th:text="#{app.addComment}">Add Comment</div><br/>
			<section>
				<label th:text="#{app.addComment}" style="color: white;font-weight: bold"></label>
				<input type="text" id="changingValue" name="newComment" />
				<input type="hidden" th:field="*{shipment.id}"/>
				<input type="hidden" th:field="*{shipment.created}" />
				<input type="hidden" th:field="*{shipment.hd_number}" />
				<input type="hidden" th:field="*{shipment.status}" />
				<input type="hidden" th:field="*{shipment.finished}" />
				<input type="hidden" th:field="*{shipment.creation_closed}" />
				<input type="hidden" th:field="*{shipment.shipmentNumber}" />
				<input type="hidden" th:field="*{shipment.article}" />
				<input type="hidden" th:field="*{shipment.company}" />
				<input type="hidden" th:field="*{shipment.quality}" />
				<input type="hidden" th:field="*{shipment.unit}" />
				<input type="hidden" th:field="*{shipment.warehouse}" />
				<input type="hidden" th:field="*{shipment.pieces_qty}" />
				<input type="hidden" th:field="*{shipment.location}"/>
				<input type="hidden" th:field="*{shipment.shipMethod}"/>
				<input type="hidden" th:field="*{shipment.customer}"/>
				<input type="hidden" th:field="*{shipment.last_update}"/>
				<input type="hidden" th:field="*{shipment.changeBy}"/>
				<input type="hidden" id="originValue" th:field="*{shipment.comment}"/>
			</section><br/>
			<section>
				<br/><button class="button" type="submit" th:text="#{app.save}"></button>
			</section>
		</form>

	</div>

	<div th:include="fragments/footer :: footer"></div>

</div>
<div class="w3copyright-agile">
	<p>© 2017 Tiny Ui Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
</div>
<script>
	$('#changingValue').val($('#originValue').val())
</script>
</body>
</html>