<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
	<title>WMS CLS app</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />

	<script src ="https://code.jquery.com/jquery-1.11.2.min.js"></script>

	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">

	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body onload="logo()">
<div class="main-agileits">
	<div th:include="fragments/header :: header"></div>
</div>
<div id="navigate-panel" style="float: left" class="mainw4-agileinfo">
	<div th:include="fragments/stockNavigation :: stockNavigation"></div>
</div>

<span th:include="fragments/receptionMenu :: receptionMenu"></span>

<div id="content" class="mainw3-agileinfo">
	<div class="login-form">
		<form  method="post" th:action="@{/reception/formReceptionLine}">

			<span sec:authorize="hasRole('ROLE_ADMIN')">
			<div class="titleList" th:text="#{app.createNewReceptionLine}  + ' ' + #{app.for} + ' ' + ${receptionHeader}">Create a new Reception line</div><br/><br/>
			</span>

			<span sec:authorize="!hasRole('ROLE_ADMIN')">
				<span  >
					<div  th:each="companys: ${companys}"  class="titleList" th:text=" #{app.createNewReceptionLine} + ' ' + #{app.for} + ' ' + ${receptionHeader} + ', ' + #{app.company} + ' ' + ${companys.name} "></div><br/>
				</span>
			</span>

			<section>
				<label style="color: white;font-weight: bold" th:text="#{app.receptionNumber} + ': ' + ${receptionHeader}"></label>
			</section><br/>

			<section>
				<label th:text="#{app.article}" style="color: white;font-weight: bold">Article</label>
				<select class="select-css" th:field="*{reception.article}">
					<option th:each="i : ${articles}" th:value="${i.id}" th:text="${i.article_number}">
					</option>
				</select>
				<input type="hidden" th:field="*{reception.id}"/>
				<input type="hidden" th:value="${receptionHeader}" id="receptionNumber" name="receptionNumber"/>
				<input type="hidden" th:each="i : ${companys}" th:value="${i.id}" id="company" name="company"/>
				<input type="hidden" th:each="i : ${warehouses}" th:value="${i.id}" id="warehouse" name="warehouse"/>
				<input type="hidden" th:value="${localDateTime}" id="created" name="created"/>
				<input type="hidden" th:value="${localDateTime}" id="last_update" name="last_update"/>
				<input type="hidden" th:value="${#request.remoteUser}" id="changeBy" name="changeBy"/>
			</section>

			<section sec:authorize="hasRole('ROLE_ADMIN')">
				<label style="color: white;font-weight: bold">Company</label>
				<select class="select-css" th:field="*{reception.company}">
					<option th:each="i : ${companys}" th:value="${i.id}" th:text="${i.name}">
					</option>
				</select>
			</section><br/>

			<section>
				<label  th:text="#{app.quality}" style="color: white;font-weight: bold">Quality</label>
				<select class="select-css" th:field="*{reception.quality}">
					<option th:value="EU1">European Union first grade</option>
					<option th:value="EU2">European Union second grade</option>
					<option th:value="BW1">Bonded Warehouse first grade</option>
					<option th:value="BW2">Bonded Warehouse second grade</option>
				</select>
			</section><br/>

			<section>
				<label th:text="#{app.unit}" style="color: white;font-weight: bold">Unit</label>
				<select class="select-css" th:field="*{reception.unit}" >
					<option th:each="i : ${units}" th:value="${i.id}" th:text="${i.name}">
				</select><br/>
			</section>
			<section>
				<label th:text="#{app.howManyPiecesOnHandleDevice}" style="color: white;font-weight: bold">How many pieces on handle devices?</label>
				<input class="check" type="text" th:field="*{reception.pieces_qty}" required="required" pattern="[0-9].{0,}" min="1" max="6666666"/>
			</section>

			<section>
				<label th:text="#{app.vendor}" style="color: white;font-weight: bold">Vendor</label>
				<select class="select-css" th:field="*{reception.vendor}">
					<option th:each="i : ${vendors}" th:value="${i.id}" th:text="${i.name}">
					</option>
				</select>
			</section><br/>


			<section>
				<br/><button class="button" type="submit">Save</button>
			</section>

		</form>
		<div th:include="fragments/footer :: footer"></div>
	</div>
	<div class="w3copyright-agile">
		<p>© 2017 Tiny Ui Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
	</div>
</div>
</body>
</html>