<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>WMS CLS app</title>
	<meta charset="ISO-8859-1" />
<!--	<link rel="stylesheet"-->
<!--		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->

	<!-- Optional theme -->
<!--	<link rel="stylesheet"-->
<!--		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />-->


	<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />

	<script src ="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>

	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">

<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body onload="logo()">
	<div class="main-agileits">
		<div th:include="fragments/header :: header"></div>
	</div>
	<div id="navigate-panel" style="float: left" class="mainw4-agileinfo">
		<div th:include="fragments/stockNavigation :: stockNavigation"></div>
	</div>

	<div id="content" class="mainw3-agileinfo">
		<div style="width: 1200px" class="login-form">
			<div style="background-color: #00BCD4;border-radius: 3px" class="login-agileits-top">

				<div th:each="warehouse: ${warehouse}" class="titleList" th:text="'Your Shipment in ' + ${warehouse.city}"></div><br/>
				<div sec:authorize="!hasRole('ROLE_ADMIN')">
					<div th:each="companys: ${companys}" style="color: white;text-align: center;font-size: 20px;font-weight: bold;" th:text="'For company: ' + ${companys.name}"></div>
					<a th:href="@{/shipment/formShipment}"><div class="buttonik2" style="float: right;max-width: 20%;" th:text="#{app.declareShipment}"></div></a>
					<br/><br/>
				</div><br/><br/>
				<table  style="color: white;text-align: left;width:100%;border: solid 1px">
					<tr style="border: solid 1px">
						<th class="tables">Shipment Number</th>
						<th class="tables">HD number</th>
						<th class="tables">Article</th>
						<th class="tables">Unit</th>
						<th class="tables">Pieces Qty</th>
						<th sec:authorize="hasRole('ROLE_ADMIN')" class="tables">Company</th>
						<th class="tables">Quality</th>
						<th class="tables">Ship method</th>
						<th class="tables">Creation closed</th>
						<th class="tables">Finished</th>
						<th class="tables">Created</th>
						<th class="tables">Last update</th>
						<th class="tables">Changed by</th>
					</tr>
				    <tr style="border: solid 1px" th:each="shipments: ${shipments}">
						<td class="tables" style="padding-bottom: 2px">
							<ol><div th:text="${shipments.shipmentNumber}"></div>
								<li>
									<ul>
										<li th:if="${shipments.finished == false && shipments.creation_closed != false}"><a th:href="@{/shipment/finishedShipment/{id}(id=${shipments.id})}">Finish</a></li>
										<li th:if="${shipments.finished == false && shipments.creation_closed != false}"><a th:href="@{/shipment/addCommentShipment/{id}(id=${shipments.id})}">Add comment</a></li>
<!--										<li th:if="${shipments.creation_closed == true && shipments.finished == false }"><a th:href="@{/openCreationShipment/{id}(id=${shipments.id})}">Open Creation</a></li>-->
									</ul>
								</li>
							</ol>
						</td>
						<td class="tables" th:text="${shipments.hd_number}"></td>
						<td class="tables" th:text="${shipments.article.article_number}"></td>
				        <td class="tables" th:text="${shipments.unit.name}"></td>
				        <td class="tables" th:text="${shipments.pieces_qty}"></td>
						<td sec:authorize="hasRole('ROLE_ADMIN')" class="tables" th:text="${shipments.company.name}"></td>
				        <td class="tables" th:text="${shipments.quality}"></td>
				        <td class="tables" th:text="${shipments.shipMethod.method}"></td>
						<td class="tables" th:text="${shipments.creation_closed}"></td>
						<td class="tables" th:text="${shipments.finished}"></td>
						<td class="tables" th:text="${#strings.replace(#strings.substring(shipments.created,0,19),'T',' ')}"></td>
						<td class="tables" th:text="${#strings.replace(#strings.substring(shipments.last_update,0,19),'T',' ')}"></td>
						<td class="tables" th:text="${shipments.changeBy}"></td>

				    </tr>
				</table>
				<a th:href="@{/shipment/shipmentInCreation}"><div th:text="#{app.checkShipmentInCreation}" class="buttonik" style="float: right;max-width: 20%;">Check Shipments in Creation</div></a>

<!--					<div align="center">-->
<!--						<span th:include="fragments/barGraph :: barGraph"></span>-->
<!--					</div>-->
			</div><br/><br/><br/>
			<div th:include="fragments/footer :: footer"></div>
		</div>
		<div class="w3copyright-agile">
			<p>© 2017 Tiny Ui Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
		</div>
	</div>
</body>
</html>