<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>WMS CLS app</title>
	<meta charset="ISO-8859-1" />

	<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />

	<script src ="https://code.jquery.com/jquery-1.11.2.min.js"></script>

	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">

<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body onload="logo()">
	<div class="main-agileits">
		<div th:include="fragments/header :: header"></div>
	</div>
	<div id="navigate-panel" style="float: left" class="mainw4-agileinfo">
		<div th:include="fragments/stockNavigation :: stockNavigation"></div>
	</div>

	<div id="content" class="mainw3-agileinfo">
		<div style="width: 1200px" class="login-form">
			<div style="background-color: #00BCD4;border-radius: 3px" class="login-agileits-top">

				<div th:if="${productionWarehouse != '%' && productionWarehouse != null}" class="titleList" th:text="#{app.startProducing} + ' ' + #{app.in} +  ' ' +  ${productionWarehouse}"></div>
				<div th:if="${productionWarehouse} == '%'" class="titleList" th:text="#{app.production} + ' ' + #{app.in} +  ' ' +   #{app.allWarehouses}"></div>
				<div th:if="${productionWarehouse} == null" class="titleList" th:text="#{app.production} + ' ' + #{app.for} +  ' ' +  #{app.allWarehouses}"></div>
				<div sec:authorize="!hasRole('ROLE_ADMIN')">
					<div  style="color: white;text-align: center;font-size: 20px;font-weight: bold;" th:text="#{app.for} + ' ' + #{app.company} + ' ' + ${company.name}"></div>
					<br/><br/>
				</div>
				<a th:href="@{/production-browser}"><div class="btn2" style="float: right;max-width: 20%;clear:right" th:text="#{app.ongoingProductions}"></div></a>
				<a th:href="@{/article-browser}"><div class="btn2" style="float: right;max-width: 20%;clear:right;margin-bottom: 30px" th:text="#{app.articles}"></div></a>

				<table  style="color: white;text-align: left;width:100%;border: solid 1px">
					<tr style="border: solid 1px">
						<th th:text="#{app.articleNumber}" class="tables"></th>
						<th th:text="#{app.articleDescription}" class="tables"></th>
						<th th:text="#{app.quantityForFinishedProduct}" class="tables"></th>
					</tr>
				    <tr style="border: solid 1px" th:each="articleFinishProduct: ${articleFinishProductList}">
						<td class="tables" th:text="${articleFinishProduct.article_number}"></td>
						<td class="tables" th:text="${articleFinishProduct.article_desc}"></td>
						<td class="tables" th:text="${articleFinishProduct.productionArticle.quantityForFinishedProduct}"></td>
				    </tr>
				</table>

			</div><br/><br/><br/>
			<div th:include="fragments/footer :: footer"></div>
		</div>
		<div class="w3copyright-agile">
			<p>© 2017 Tiny Ui Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
		</div>
</body>
</html>