<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>WMS CLS app</title>
	<meta charset="ISO-8859-1" />

	<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />

	<script src ="https://code.jquery.com/jquery-1.11.2.min.js"></script>

	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">

<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body onload="logo()">
	<div class="main-agileits">
		<div th:include="fragments/header :: header"></div>
	</div>
	<div id="navigate-panel" style="float: left" class="mainw4-agileinfo">
		<div th:include="fragments/stockNavigation :: stockNavigation"></div>
	</div>

	<div id="content" class="mainw3-agileinfo">
		<div style="width: 1200px" class="login-form">
			<div style="background-color: #00BCD4;border-radius: 3px" class="login-agileits-top">
				<div class="titleList"><span class="titleList" th:text="#{app.workNumberDetails} + ': '"></span><span class="titleList" style="color: darkblue;font-style: italic" th:text=" ${workNumberDetailsInfo.workNumber}"></span></div> <br/><br/>
				<div><span style="color: white;text-align: left;font-size: 20px;font-weight: bold;" th:text="#{app.type} + ': '"></span>			 <span style="color: darkblue;font-size: 20px;font-weight: bold;font-style: italic;" th:text="${workNumberDetailsInfo.workType}"></span>			<a th:href="@{/workDetails-browser}"><div class="btn2" style="float: right;max-width: 20%;" th:text="#{app.changeCriteria}"></div></a></div>
				<div><span style="color: white;text-align: left;font-size: 20px;font-weight: bold;" th:text="#{app.company} + ': '"></span>			 <span style="color: darkblue;font-size: 20px;font-weight: bold;font-style: italic;" th:text="${workNumberDetailsInfo.changeBy}"></span>			<a th:href="@{/workDetails}">		<div class="btn2" style="float: right;max-width: 20%;clear: right" th:text="#{app.workDetails}"></div></a></div>
				<div><span style="color: white;text-align: left;font-size: 20px;font-weight: bold;" th:text="#{app.warehouse} + ': '"></span>			 <span style="color: darkblue;font-size: 20px;font-weight: bold;font-style: italic;" th:text="${workNumberDetailsInfo.status}"></span></div>
				<div><span style="color: white;text-align: left;font-size: 20px;font-weight: bold;" th:text="#{app.amountOfWorks} + ': '"></span>			 <span style="color: darkblue;font-size: 20px;font-weight: bold;font-style: italic;" th:text="${workNumberDetailsInfo.piecesQty}"></span></div>
				<br/><br/>
				<table  style="color: white;text-align: left;width:100%;border: solid 1px">
					<tr style="border: solid 1px">
						<th th:text="#{app.number}" class="tables">Number</th>
						<th th:text="#{app.description}" class="tables">Description</th>
						<th th:text="#{app.handle}" class="tables">Type</th>
						<th th:text="#{app.piecesQty}" class="tables">Pieces Qty</th>
						<th th:text="#{app.handleDevice}" class="tables"></th>
						<th th:text="#{app.articleNumber}" class="tables"></th>
						<th th:text="#{app.status}" class="tables">Status</th>
						<th th:text="#{app.chandedBy}" class="tables"></th>
						<th th:text="#{app.lastUpdate}" class="tables"></th>
						<th th:text="#{app.created}" class="tables"></th>

					</tr>
				    <tr style="border: solid 1px" th:each="workDetails: ${workDetailsList}">
						<td class="tables" style="padding-bottom: 2px">
							<ol><div th:text="${workDetails.workNumber}"></div>
								<li>
									<ul>
										<li th:if="${workDetails.status == false}"><a th:href="@{/workDetails/{workNumber}(workNumber=${workDetails.workNumber})}" th:text="#{app.edit}"></a></li>
										<li th:if="${workDetails.status == false}"><a th:href="@{/deleteWork/{workNumber}(workNumber=${workDetails.workNumber})}" th:text="#{app.delete}"></a></li>
									</ul>
								</li>
							</ol>
						</td>
						<td class="tables" th:text="${workDetails.workDescription}"></td>
				        <td class="tables" th:text="${workDetails.handle}"></td>
				        <td class="tables" th:text="${workDetails.piecesQty}"></td>
				        <td class="tables" th:text="${workDetails.hdNumber}"></td>
				        <td class="tables" th:text="${workDetails.article.article_number}"></td>
						<td th:if="${workDetails.status == 'open'}" class="tables" th:text="#{app.open}"></td>
						<td th:if="${workDetails.status == 'close'}" class="tables" th:text="#{app.close}"></td>
				        <td class="tables" th:text="${workDetails.changeBy}"></td>
						<td class="widerTables" th:text="${#strings.replace(#strings.substring(workDetails.last_update,0,19),'T',' ')}"></td>
						<td class="widerTables" th:text="${#strings.replace(#strings.substring(workDetails.created,0,19),'T',' ')}"></td>
						</tr>
				</table>

			</div><br/><br/><br/>
			<div th:include="fragments/footer :: footer"></div>
		</div>
		<div class="w3copyright-agile">
			<p>© 2017 Tiny Ui Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
		</div>
	</div>
</body>
</html>