<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>WMS CLS app</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />

	<script src ="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>

	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">

	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body onload="logo()">
<div class="main-agileits">
	<div th:include="fragments/header :: header"></div>
</div>

<div id="navigate-panel" style="float: left" class="mainw4-agileinfo">
	<div th:include="fragments/whichNavPanelF :: whichNavPanelF"></div>
</div>

<span th:include="fragments/articlesMenu :: articlesMenu"></span>

<div id="content" class="mainw3-agileinfo">
	<div class="login-form">
		<form th:object="${article}" method="post" th:action="@{/formEditArticle}">
			<div th:text="#{app.edit} + ' ' + #{app.article}" class="titleList">Edit Article</div><br/>
			<section>
				<label th:text="#{app.articleNumber}" style="color: white;font-weight: bold">Article number (16 digits)</label>
				<input th:title="#{app.min16Digits}" class="check" required type="text" th:field="*{article_number}" pattern="[0-9]{16}" minlength="16" maxlength="16" />
				<input type="hidden" th:field="*{id}"/>
				<input type="hidden" th:field="*{created}"/>
				<input type="hidden" th:value="${localDateTime}" id="last_update" name="last_update"/>
				<input type="hidden" th:value="true" id="active" name="active"/>
				<input type="hidden" th:value="${#request.remoteUser}" id="changeBy" name="changeBy"/>
			</section>
			<section>
				<label style="color: white;font-weight: bold">Article Description</label>
				<input th:title="#{app.min3signs}" class="check" pattern=".{3,}[a-zA-Z0-9]"  type="text" th:field="*{article_desc}"/>
			</section>
			<section>
				<label th:text="#{app.weight}" style="color: white;font-weight: bold">Weight</label>
				<input  class="check" required id="weight" th:field="*{weight}" type="text" pattern="[0-9].{0,}"  />
			</section>
			<section>
				<label th:text="#{app.depth}" style="color: white;font-weight: bold">depth</label>
				<input class="check" required id="depth" th:field="*{depth}" type="text" pattern="[0-9].{0,}" />
			</section>
			<section>
				<label th:text="#{app.width}" style="color: white;font-weight: bold">width</label>
				<input class="check" required id="width" th:field="*{width}" type="text" pattern="[0-9].{0,}"  />
			</section>
			<section>
				<label th:text="#{app.height}" style="color: white;font-weight: bold">height</label>
				<input class="check" required id="height" th:field="*{height}" type="text" pattern="[0-9].{0,}" />
				<div id="volume"></div>
			</section>
			<section>
				<label style="color: white;font-weight: bold">Company</label>
				<select class="select-css" th:field="*{company}">
					<option th:each="i : ${companies}" th:value="${i.id}" th:text="${i.name}">
					</option>
				</select>
			</section><br/>
			<section>
				<br/><button class="button" type="submit" onclick="return checkValidation()">Save</button>
			</section>
		</form>

	</div>

	<div th:include="fragments/footer :: footer"></div>

</div>
<div class="w3copyright-agile">
	<p>© 2017 Tiny Ui Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
</div>
</div>
<script type="text/javascript" th:src="@{/js/logo.js}"></script>
<script type="text/javascript" th:src="@{/js/formArticle.js}"></script>
</body>
</html>