<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>WMS CLS app</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />

	<script src ="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>

	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">

	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body onload="logo()">
<div class="main-agileits">
	<div th:include="fragments/header :: header"></div>
</div>

<div id="navigate-panel" style="float: left" class="mainw4-agileinfo">
	<div th:include="fragments/whichNavPanelF :: whichNavPanelF"></div>
</div>

<span th:include="fragments/articlesMenu :: articlesMenu"></span>

<div id="content" class="mainw3-agileinfo">
	<div class="login-form">
		<form method="post" th:action="@{/formEditArticle}">
			<div style="text-align: center"><span th:text="#{app.edit} + ' ' + #{app.article}" class="titleList">Edit Article</span><img th:if="${productionModule} == 'off'" th:src="@{/images/32px-Information_icon.png}"  th:title="#{app.productionTurnOff}"/></div><br/>
			<section>
				<label th:text="#{app.articleNumber}" style="color: white;font-weight: bold">Article number (16 digits)</label>
				<input id="articleNumber" th:title="#{app.min16Digits}" class="check" required type="text" th:field="*{article.article_number}" pattern="[0-9]{16}" minlength="16" maxlength="16" />
				<input type="hidden" th:field="*{article.id}"/>
				<input type="hidden" th:field="*{article.created}"/>
				<input type="hidden" th:value="${localDateTime}" id="last_update" name="last_update"/>
				<input type="hidden" th:value="true" id="active" name="active"/>
				<input type="hidden" th:value="${#request.remoteUser}" id="changeBy" name="changeBy"/>
			</section>
			<section>
				<label style="color: white;font-weight: bold">Article Description</label>
				<input th:title="#{app.min3signs}" class="check" pattern=".{3,}[a-zA-Z0-9]"  type="text" th:field="*{article.article_desc}"/>
			</section>
			<section>
				<label th:text="#{app.articleTypes}" style="color: white;font-weight: bold"></label>
				<select class="select-css" th:field="*{article.articleTypes}">
					<option th:each="i : ${articleTypesList}" th:value="${i.id}" th:text="${i.articleClass}"></option>
				</select>
			</section><br/>
			<section>
				<label th:text="#{app.weight}" style="color: white;font-weight: bold">Weight</label>
				<input  class="check" required id="weight" th:field="*{article.weight}" type="text" pattern="[0-9].{0,}"  />
			</section>
			<section>
				<label th:text="#{app.depth}" style="color: white;font-weight: bold">depth</label>
				<input class="check" required id="depth" th:field="*{article.depth}" type="text" pattern="[0-9].{0,}" />
			</section>
			<section>
				<label th:text="#{app.width}" style="color: white;font-weight: bold">width</label>
				<input class="check" required id="width" th:field="*{article.width}" type="text" pattern="[0-9].{0,}"  />
			</section>
			<section>
				<label th:text="#{app.height}" style="color: white;font-weight: bold">height</label>
				<input class="check" required id="height" th:field="*{article.height}" type="text" pattern="[0-9].{0,}" />
				<div id="volume"></div>
			</section>
			<section>
				<label style="color: white;font-weight: bold" th:text="#{app.company}">Company</label>
				<select class="select-css" th:field="*{article.company}">
					<option th:each="i : ${companies}" th:value="${i.id}" th:text="${i.name}">
					</option>
				</select>
			</section><br/>
			<section th:if="${productionModule} == 'on'">
				<input type="checkbox" id="productionArticle"/>
				<label th:text="#{app.productionArticle}" style="letter-spacing: 2px;color: white"></label><br/><br/>
				<div id="productionArticleDetails" style="background: #2309ca;border-radius:10px;padding: 8px">
					<label th:text="#{app.productionArticleType}" style="color: white;font-weight: normal"></label>
					<select id="selectId" class="select-css" th:field="*{productionArticle.productionArticleType}">
						<option th:text="#{app.finishProduct}" th:value="'finish product'"></option>
						<option th:text="#{app.intermediateProduct}" th:value="'intermediate'"></option>
					</select><br/><br/>
					<label th:text="#{app.productionArticleConnection}" style="color: white;font-weight: normal"></label>
					<input class="check" id="productionArticleConnection" th:field="*{productionArticle.productionArticleConnection}" type="text"/>
					<label th:text="#{app.quantityForFinishedProduct}" style="color: white;font-weight: normal"></label>
					<input class="check" id="quantityForFinishedProduct" th:field="*{productionArticle.quantityForFinishedProduct}" pattern="^[0-9]*$" type="text"/>
					<div id="productionLocation" style="background: #0066d4;border-radius:10px;padding: 5px">
						<div th:text="#{app.locationToPutAsideAnIntermediateArticleForTheProductionOfTheFinalProduct}" style="color: white;font-weight: bold"></div><br/>
						<label  th:text="#{app.whichWarehouse}" style="color: white;font-weight: bold"></label>
						<select class="select-css" id="chosenWarehouse" name="warehouseName">
							<option th:each="i : ${warehouses}" th:value="${i.name}" th:text="${i.name}"></option>
						</select><br/><br/>

						<span id="productionLocationHeader" class="d-none">
								<label style="color: white;font-weight: bold" th:text="#{app.productionLocation}"></label>
							<select id="productionLocationDetail" th:field="*{productionArticle.location}">
							<option th:each="i : ${productionLocations}" th:value="${i.id}" th:text="${i.location}"></option>
							</select>
								</span>

					</div><br/>
					<input type="hidden" th:value="false" id="production" name="production"/>

					<div><input type="checkbox" id="specialStorageZone"/><label th:text="#{app.doYouWantAddArticleToSpecialStorageZone}" style="letter-spacing: 2px;color: white"></label><img class="makeItBigger" th:src="@{/images/32px-Information_icon.png}"  th:title="#{app.productionArticleInStorageZoneInfo}"/></div><br/><br/>
					<div id="specialStorageZoneDetails">
						<label th:text="#{app.storageZone}" style="color: white;font-weight: normal"></label>
						<select class="select-css" th:field="*{productionArticle.storageZone}" id="specialStorageZoneDetail">
							<option th:each="i : ${storageZones}" th:value="${i.id}" th:text="${i.storageZoneName}">
							</option>
							<option th:text="#{app.doNotAssign}" th:value="null"></option>
						</select>
						<input type="hidden" th:value="${productionArticle.id}" id="productionArticleId" name="productionArticleId"/>
					</div>
				</div>
			</section>

			<table class="d-none" >
				<tr th:each="i : ${productionLocations}">
					<td th:text="${i.location}" name="productionLocation"></td>
					<td th:text="${i.warehouse}" name="productionWarehouse"></td>
					<td th:text="${i.id}" name="productionLocationId"></td>
				</tr>
			</table>
			<span th:if="${productionArticle.storageZone} != null" style="display: none" id="storageZone" th:text="${productionArticle.storageZone.storageZoneName}"></span>
			<span th:if="${productionArticle.storageZone} == null" style="display: none" id="storageZone" th:text="'NotAssigned'"></span>
			<section>
				<br/><button class="button" type="submit" onclick="return checkValidation()">Save</button>
			</section>
		</form>
		<span style="display: none" type="hidden" id="productionArticleStatus" th:text="${article.production}"></span>
	</div>

	<div th:include="fragments/footer :: footer"></div>

</div>
<div class="w3copyright-agile">
	<p>© 2017 Tiny Ui Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
</div>
</div>
<script type="text/javascript" th:src="@{/js/logo.js}"></script>
<script type="text/javascript" th:src="@{/js/formArticle.js}"></script>
</body>
</html>