<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
	<title>WMS CLS app</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />

	<script src ="https://code.jquery.com/jquery-1.11.2.min.js"></script>

	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">

	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body onload="logo()">
<div class="main-agileits">
	<div th:include="fragments/header :: header"></div>
</div>
<div id="navigate-panel" style="float: left" class="mainw4-agileinfo">
	<div th:include="fragments/stockNavigation :: stockNavigation"></div>
</div>

<div id="content" class="mainw3-agileinfo">
	<div class="login-form">
		<form method="post" th:action="@{/storage/formStock}">
			<div th:each="i: ${warehouses}" th:text="#{app.CreateNewStockLine} + ' ' +  ${i.name} + ': '" class="titleList">Create New Stock line</div><br/>
			<section>
				<label style="color: white;font-weight: bold" th:text="#{app.location}">Location</label><br/>
				<span id="message" style="font-weight: bold;"></span><br/>
				<input style="margin-top: 4px" id="locationN" type="text" name="locationN"/>
				<div id="currentLocationFreeSpace" style="font-weight: bold"></div><br/>
				<div id="currentLocationFreeWeight" style="font-weight: bold;margin-top: 4px"></div>
			</section>
			<section>
				<label  style="color: white;font-weight: bold" th:text="#{app.article}">Article</label>
				<select style="margin-bottom: 4px" id="chosenArticle" class="select-css" th:field="*{stock.article}">
					<option th:each="i : ${articles}" th:value="${i.id}" th:text="${i.article_number}">
					</option>
				</select>
				<span id="articleInformation"></span>
				<input type="hidden" th:field="*{stock.id}"/>
				<input type="hidden" th:each="i : ${companies}" th:value="${i.id}" id="company" name="company"/>
				<input type="hidden" th:value="${warehouse.id}" id="warehouse" name="warehouse"/>
				<input type="hidden" th:value="1" id="status" name="status"/>
				<input type="hidden" th:value="${localDateTime}" id="created" name="created"/>
				<input type="hidden" th:value="${localDateTime}" id="last_update" name="last_update"/>
				<input type="hidden" th:value="${#request.remoteUser}" id="changeBy" name="changeBy"/>
			</section>

			<section sec:authorize="hasRole('ROLE_ADMIN')">
				<label style="color: white;font-weight: bold" th:text="#{app.company}">Company</label>
				<select class="select-css" th:field="*{stock.company}" th:text="#{app.company}">
					<option th:each="i : ${activeCompany}" th:value="${i.id}" th:text="${i.name}">
					</option>
				</select>
			</section><br/>

			<section>
				<label style="color: white;font-weight: bold" th:text="#{app.quality}">Quality</label>
				<select class="select-css" th:field="*{stock.quality}">
					<option th:value="EU1">European Union first grade</option>
					<option th:value="EU2">European Union second grade</option>
					<option th:value="BW1">Bonded Warehouse first grade</option>
					<option th:value="BW2">Bonded Warehouse second grade</option>
				</select>
			</section><br/>

			<section>
				<label style="color: white;font-weight: bold" th:text="#{app.unit}">Unit</label>
				<select class="select-css" th:field="*{stock.unit}" >
					<option th:each="i : ${units}" th:value="${i.id}" th:text="${i.name}">
				</select><br/>
			</section>
			<section>
				<label style="color: white;font-weight: bold" th:text="#{app.handleDevice}">Handle Device number</label>
				<input type="number" th:value="${nextPalletNbr}" name="hd_number" id="hd_number" readonly/>
			</section>
			<section>
				<label style="color: white;font-weight: bold" th:text="#{app.piecesQty}">Quantity</label>
				<input id="piecesQty" type="number" th:field="*{stock.pieces_qty}" min="1" max="6666666" required/>
			</section>
			<section>
				<label style="color: white;font-weight: bold" th:text="#{app.comment}">Comment</label>
				<input type="text" th:field="*{stock.comment}"/>
			</section>
			<br/>
			<section>
				<br/><button class="button" type="submit" onclick="return checkAllValidations()">Save</button>
			</section>
			<table class="d-none">
				<tr th:each="i : ${locations}">
					<td th:text="${i.storageZone.storageZoneName}" name="storageZone"></td>
					<td th:text="${i.locationType}" name="locationType"></td>
					<td th:text="${i.locationName}" name="locationName"></td>
					<td th:text="${i.freeSpace}" name="freeSpace"></td>
					<td th:text="${i.freeWeight}" name="freeWeight"></td>
					<td th:text="${i.multiItem}" name="multiItem"></td>
					<td th:text="${i.stockList.empty}" name="stockExists"></td>
					<td th:if="${i.stockList.empty} == false" th:each="j : ${i.stockList}" th:text="${j.article.articleTypes.articleClass}" name="stockArticleType"></td>
					<td th:if="${i.stockList.empty} == true" name="stockArticleType"></td>
					<td th:if="${i.stockList.empty} == false" th:each="j : ${i.stockList}" th:text="${j.article.article_number}" name="stockArticleNumber"></td>
					<td th:if="${i.stockList.empty} == true" name="stockArticleNumber"></td>
				</tr>
				<tr th:each="i : ${articles}">
					<td th:text="${i.article_number}" name="articleNumberFromExisted"></td>
					<td th:text="${i.volume}" name="articlesVolume"></td>
					<td th:text="${i.weight}" name="articlesWeight"></td>
					<td th:text="${i.articleTypes.articleClass}" name="articleClasses"></td>
					<td th:text="${i.articleTypes.mixed}" name="articleClassesMixed"></td>
				</tr>
				<tr th:each="k : ${articleTypes}" >
					<td th:text="${k.articleClass}" name="articleTypesClasses"></td>
					<td th:text="${k.mixed}" name="mixed"></td>
				</tr>
			</table>
		</form>

		<div th:include="fragments/footer :: footer"></div>
	</div>
	<div class="w3copyright-agile">
		<p>© 2017 Tiny Ui Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
	</div>
</div>

<script type="text/javascript" th:src="@{/js/formStock.js}"></script>
</body>
</html>