<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>WMS CLS app</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />

	<script src ="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>

	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">

	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body onload="logo()">
<div class="main-agileits">
	<div th:include="fragments/header :: header"></div>
</div>

<div id="navigate-panel" style="float: left" class="mainw4-agileinfo">
	<div th:include="fragments/stockNavigation :: stockNavigation"></div>
</div>

<div id="content" class="mainw3-agileinfo">
	<div class="login-form">
		<form method="post" th:action="@{/storage/formChangeQuality}">
			<div class="titleList">Change Quality</div><br/>
			<section>
				<label style="color: white;font-weight: bold">Change quality</label>
				<select id="new" class="select-css" name="newQuality">
					<option th:value="EU1">European Union first grade</option>
					<option th:value="EU2">European Union second grade</option>
					<option th:value="BW1">Bonded Warehouse first grade</option>
					<option th:value="BW2">Bonded Warehouse second grade</option>
				</select>

				<input type="hidden" th:field="*{stock.id}"/>
				<input type="hidden" th:field="*{stock.created}" />
				<input type="hidden" th:field="*{stock.hd_number}" />
				<input type="hidden" th:field="*{stock.status}" />
				<input type="hidden" th:field="*{stock.receptionNumber}" />
				<input type="hidden" th:field="*{stock.shipmentNumber}" />
				<input type="hidden" th:field="*{stock.pieces_qty}" />
				<input type="hidden" th:field="*{stock.company}" />
				<input type="hidden" th:field="*{stock.article}" />
				<input type="hidden" th:field="*{stock.unit}" />
				<input type="hidden" th:field="*{stock.warehouse}" />
				<input type="hidden" th:field="*{stock.comment}" />
				<input type="hidden" th:field="*{stock.location}"/>
				<input id="old" type="hidden" th:field="*{stock.quality}"/>
			</section><br/>
			<section>
				<br/><button class="button" type="submit">Save</button>
			</section>
		</form>

	</div>

	<div th:include="fragments/footer :: footer"></div>

</div>
<div class="w3copyright-agile">
	<p>© 2017 Tiny Ui Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
</div>
<script type="text/javascript" th:src="@{/js/stockChanges.js}"></script>
</body>
</html>