<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
	<title>WMS CLS app</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />

	<script src ="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>

	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">

	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body onload="logo()">
<div class="main-agileits">
	<div th:include="fragments/header :: header"></div>
</div>
<div id="navigate-panel" style="float: left" class="mainw4-agileinfo">
	<div th:include="fragments/stockNavigation :: stockNavigation"></div>
</div>

<div style="float: right;margin-right: 3%;max-width: 10%;">
	<form>
		<section>
			<input type="checkbox" id="nearbyEmptyLocation"/>
		<label style="color: white;font-weight: bold" th:text="#{app.nearbyEmptyLocation}"></label>
			<div class="d-none" id="nearbyEmptyLocationList">
			</div>
		</section>
		<section>
		<input type="checkbox" id="nearbyAvailableLocation"/>
		<label style="color: white;font-weight: bold" th:text="#{app.nearbyAvailableLocation}"></label>
			<div class="d-none" id="nearbyAvailableLocationList">
			</div>
		</section>
	</form>
</div>

<div id="content" class="mainw3-agileinfo">
	<div class="login-form">
		<form method="post" th:action="@{/storage/formTransfer}">
			<div th:text="#{app.transferFrom} +  ': ' +  ${stock.location.locationName} + ' ' + #{app.to} + ':'" class="titleList">Transfer from location to</div><br/>
			<section>
				<label style="color: white;font-weight: bold" th:text="#{app.location}">Location</label><br/>
				<span id="message" style="font-weight: bold;"></span><br/>
				<input style="margin-top: 4px" id="locationN" type="text" th:value="${locationN}"  name="locationN"/>
				<div id="currentLocationFreeSpace" style="font-weight: bold"></div><br/>
				<div id="currentLocationFreeWeight" style="font-weight: bold;margin-top: 4px"></div>
			</section>
			<section>
				<label  style="color: white;font-weight: bold" th:text="#{app.article}">Article</label>
				<select style="margin-bottom: 4px" id="chosenArticle" class="select-css" th:field="*{stock.article}">
					<option th:each="i : ${stock.article}" th:value="${i.id}" th:text="${i.article_number}">
					</option>
				</select>
				<span id="articleInformation"></span>
				<input type="hidden" th:field="*{stock.id}"/>
				<input type="hidden" th:each="i : ${companies}" th:value="${i.id}" id="company" name="company"/>
				<input type="hidden" th:each="i : ${warehouses}" th:value="${i.id}" id="warehouse" name="warehouse"/>
				<input type="hidden" th:value="1" id="status" name="status"/>
			</section>

			<section sec:authorize="hasRole('ROLE_ADMIN')">
				<label style="color: white;font-weight: bold">Company</label>
				<select class="select-css" th:field="*{stock.company}" th:text="#{app.company}">
					<option th:each="i : ${activeCompany}" th:value="${i.id}" th:text="${i.name}">
					</option>
				</select>
			</section><br/>
			<section class="d-none" id="createNewPalletNumberInLocation">
				<input id="createNewPalletNumberInLocationCheckbox" name="createNewPalletNumberInLocationCheckbox" type="checkbox">
				<label style="color: white;font-weight: bold" th:text="#{app.addToExistedPalletInLocation}"></label>
			</section>
			<section class="d-none" id="ifLocationEmpty">
				<div id="splitPallet"></div>
				<label style="color: white;font-weight: bold" th:text="#{app.handleDevice}">Handle Device number</label>
				<input type="text" minlength="18" maxlength="18" name="hd_number" id="hd_number" readonly/>
			</section>
			<section>
				<label style="color: white;font-weight: bold" th:text="#{app.piecesQty} + ' / ' + ${stock.pieces_qty} ">Quantity</label>
				<input class="check" id="piecesQty" type="number" th:field="*{stock.pieces_qty}" min="1" th:max="${stock.pieces_qty}" required/>
			</section>
			<br/>
			<section class="d-none">
				<span id="originCompany" th:text="${stock.company.name}"></span>
				<span id="originLocationName" th:text="${stock.location.locationName}"></span>
				<span id="originArticleNumber" th:text="${stock.article.article_number}"></span>
<!--				<input type="hidden" th:field="*{chosenStockPosition.idObj}"/>-->
<!--				<input type="hidden" th:field="*{chosenStockPosition.changeByObj}"/>-->
<!--				<input type="hidden" th:field="*{chosenStockPosition.articleId}"/>-->
<!--				<input type="hidden" th:field="*{chosenStockPosition.commentObj}"/>-->
<!--				<input type="hidden" th:field="*{chosenStockPosition.companyId}"/>-->
<!--				<input type="hidden" th:field="*{chosenStockPosition.createdObj}"/>-->
<!--				<input type="hidden" th:field="*{chosenStockPosition.hd_numberObj}"/>-->
<!--				<input type="hidden" th:field="*{chosenStockPosition.locationId}"/>-->
<!--				<input type="hidden" th:field="*{chosenStockPosition.qualityObj}"/>-->
<!--				<input type="hidden" th:field="*{chosenStockPosition.unitId}"/>-->
<!--				<input type="hidden" th:field="*{chosenStockPosition.receptionNumberObj}"/>-->
<!--				<input type="hidden" th:field="*{chosenStockPosition.warehouseId}"/>-->
<!--				<input type="hidden" th:field="*{chosenStockPosition.statusId}"/>-->
<!--				<input type="hidden" th:field="*{chosenStockPosition.last_updateObj}"/>-->
				<input id="originalPiecesQty" type="hidden" th:field="*{chosenStockPosition.pieces_qty}"/>
<!--				<input type="hidden" th:field="*{chosenStockPosition.shipmentNumberObj}"/>-->
			</section>
			<section>
				<br/><button name="formTransfer" th:value="1" th:text="#{app.createTransferWork}" class="button" type="submit" onclick="return checkAllValidations()">Save</button>
				<br/><button name="formTransfer" th:value="2" th:text="#{app.transferImmediately}" class="button" type="submit" onclick="return checkAllValidations()">Save</button>
			</section>
			<table class="d-none">
				<tr th:each="i : ${locations}">
					<td th:text="${i.storageZone.storageZoneName}" name="storageZone"></td>
					<td th:text="${i.locationType}" name="locationType"></td>
					<td th:text="${i.locationName}" name="locationName"></td>
					<td th:text="${i.freeSpace}" name="freeSpace"></td>
					<td th:text="${i.freeWeight}" name="freeWeight"></td>
					<td th:text="${i.multiItem}" name="multiItem"></td>
					<td th:text="${i.stockList.empty}" name="stockExists"></td>
					<td th:if="${i.stockList.empty} == false" th:each="j : ${i.stockList}" th:text="${j.article.articleTypes.articleClass}" name="stockArticleType"></td>
					<td th:if="${i.stockList.empty} == true" name="stockArticleType"></td>
					<td th:if="${i.stockList.empty} == false" th:each="j : ${i.stockList}" th:text="${j.article.article_number}" name="stockArticleNumber"></td>
					<td th:if="${i.stockList.empty} == true" name="stockArticleNumber"></td>
					<td th:if="${i.stockList.empty} == false" th:each="j : ${i.stockList}" th:text="${j.hd_number}" name="hdNumber"></td>
					<td th:if="${i.stockList.empty} == true" name="hdNumber"></td>
					<td th:if="${i.stockList.empty} == false" th:each="j : ${i.stockList}" th:text="${j.company.name}" name="companyName"></td>
					<td th:if="${i.stockList.empty} == true" name="companyName"></td>
				</tr>
				<tr th:each="i : ${articles}">
					<td th:text="${i.article_number}" name="articleNumberFromExisted"></td>
					<td th:text="${i.volume}" name="articlesVolume"></td>
					<td th:text="${i.weight}" name="articlesWeight"></td>
					<td th:text="${i.articleTypes.articleClass}" name="articleClasses"></td>
					<td th:text="${i.articleTypes.mixed}" name="articleClassesMixed"></td>
				</tr>
				<tr th:each="k : ${articleTypes}" >
					<td th:text="${k.articleClass}" name="articleTypesClasses"></td>
					<td th:text="${k.mixed}" name="mixed"></td>
				</tr>
				<tr>
					<td id="nextPallet" th:text="${nextPalletNbr}"></td>
					<td id="originPallet" th:text="${stock.hd_number}"></td>
				</tr>
			</table>
		</form>

		<div th:include="fragments/footer :: footer"></div>
	</div>
	<div class="w3copyright-agile">
		<p>© 2017 Tiny Ui Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
	</div>
</div>
<script type="text/javascript" th:src="@{/js/logo.js}"></script>
<script type="text/javascript" th:src="@{/js/formTransfer.js}"></script>
</body>
</html>