<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<span th:fragment="activateTokenActiveFalse">
    <form>
    <span style="font-size: 16px;color: white">Token do resetowania hasła wygasł.

        <br/><br/>  <a style="cursor: pointer" th:href="@{/blog/resetPassword}"><div class="btn" style="margin-right: auto;margin-left: auto;text-align: center">Zresetuj hasło ponownie</div></a>

        <br/><br/>
        <a style="cursor: pointer" th:href="@{/index}"><div class="btn" style="margin-right: auto;margin-left: auto;text-align: center">Wróc do strony głównej</div></a>
    </span>
        </form>
</span>
</body>
</html>