<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<div th:fragment="adminNavigation">
    <button class="hamburger hamburger--active">
            <span class="hamburger_box">
                <span class="hamburger__inner"></span>
            </span>
    </button>
    <div  class="navigation navigation--active">

        <div style="color: #00BCD4;font-size: 20px;font-weight: bold;" th:text="#{app.hello} + ': ' + ${#request.remoteUser} "></div><br/>
        <div style="color: #00BCD4;font-size: 20px;font-weight: bold;" ><span sec:authentication="principal.authorities"></span></div><br/>

        <a th:href="@{/warehouse}"><div th:text="#{app.chWarehouse}" class="btn">Choose Warehouse</div></a>
        <div th:text="#{app.companyMenu}" class="btn" id="companyMenu"></div>
        <span id="companyBtn" class="d-none">
            <a th:href="@{/config/warehouseList}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.warehousesList}" style="color: white;font-weight: normal">Warehouses list</div >
                <li style="min-width: 100%;">
                    <ul>
                        <li><a th:text="#{app.addWarehouse}" th:href="@{/config/formWarehouseCreation}">Create New Warehouse</a></li>
                        <li><a th:text="#{app.deactivateWarehouse}"  th:href="@{/config/warehouseDeactivatedList}">Deactivated warehouses list</a></li>
                    </ul>
                </li>
            </ol>
        </a>
            <a th:href="@{/config/company}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.companiesList}" style="color: white;font-weight: normal">Companies list</div >
                <li style="min-width: 100%;">
                    <ul>
                        <li>
                            <a th:text="#{app.addCompany}" th:href="@{/config/formCompany}">Create New Company</a>
                        <li><a th:text="#{app.deactivateCompany}" th:href="@{/config/companyDeactivatedList}">Deactivated company list</a></li>
                        </li>
                    </ul>
                </li>
            </ol>
        </a>
        <a th:href="@{/reception/vendor}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.vendorList}" style="color: white;font-weight: normal">Vendor list</div>
            <li style="min-width: 100%;">
                <ul>
                    <li>
                        <a th:text="#{app.addVendor}" th:href="@{/reception/formVendor}">Create New Vendor</a>
                    <li><a th:text="#{app.deactivateVendor}" th:href="@{/config/vendorDeactivatedList}">Deactivated vendor list</a></li>
                    </li>
                </ul>
            </li>
        </ol>
        </a>
        <a th:href="@{/shipment/customer}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.customerList}" style="color: white;font-weight: normal">Customer list</div >
                <li style="min-width: 100%;">
                    <ul>
                        <li>
                            <a th:text="#{app.addCustomer}" th:href="@{/shipment/formCustomer}">Create New Customer</a>
                        <li><a th:text="#{app.deactivateCustomer}" th:href="@{/config/customerDeactivatedList}">Deactivated customer list</a></li>
                        </li>
                    </ul>
                </li>
            </ol>
        </a>

        </span>
        <div th:text="#{app.stockMenu}" class="btn" id="stockMenu"></div>
        <span id="stockBtn" class="d-none">
        <a th:href="@{/article}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.articleList}" style="color: white;font-weight: normal">Article list</div >
                <li style="min-width: 100%;">
                    <ul>
                        <li>
                            <a th:text="#{app.addArticle}" th:href="@{formArticle}">Create New Article</a>
                        <li><a th:text="#{app.deactivateArticle}" th:href="@{/config/articleDeactivatedList}">Deactivated article list</a></li>
                        </li>
                    </ul>
                </li>
            </ol>
        </a>
        <a th:href="@{/config/unit}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.unitsList}" style="color: white;font-weight: normal">Units list</div >
                <li style="min-width: 100%;">
                    <ul>
                        <li><a th:text="#{app.addUnit}" th:href="@{/config/formUnitCreation}">Create New Unit</a></li>
                        <li><a th:text="#{app.deactivateUnit}" th:href="@{/config/unitDeactivatedList}">Deactivated units list</a></li>
                    </ul>
                </li>
            </ol>
        </a>
        </span>
        <div th:text="#{app.userMenu}" class="btn" id="userThings"></div>
        <span id="userBtn" class="d-none">
        <a th:href="@{/config/userList}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.userList}" style="color: white;font-weight: normal">User list</div >
                <li style="min-width: 100%;">
                    <ul>
                        <li><a th:text="#{app.addUser}" th:href="@{/config/formUserCreation}">Create New User</a></li>
                        <li><a th:text="#{app.deactivateUsers}" th:href="@{/config/usersDeactivatedList}">Deactivated users list</a></li>
                    </ul>
                </li>
            </ol>
        </a>
        <a th:href="@{/emailRecipients}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.emailRecipientsList}" style="color: white;font-weight: normal">Emails Recipients list</div >
                <li style="min-width: 100%;">
                    <ul>
                        <li>
                            <a th:text="#{app.addRecipientsList}" th:href="@{/user/formEmailRecipients}">Create New email recipient</a></li>
                        <li><a th:text="#{app.deactivateRecipientsList}" th:href="@{/config/emailRecipientsDeactivatedList}">Deactivated email recipients</a>
                        </li>
                    </ul>
                </li>
            </ol>
        </a>
        </span>
    </div>
    <script>
        const companyMenu = document.getElementById("companyMenu");
        const companyBtn = document.getElementById("companyBtn");

        const handleClickCompany = () => {
            companyBtn.classList.toggle('d-none');
        }

        companyMenu.addEventListener('click', handleClickCompany);


        const stockMenu = document.getElementById("stockMenu");
        const stockBtn = document.getElementById("stockBtn");

        const handleClickStock = () => {
            stockBtn.classList.toggle('d-none');
        }

        stockMenu.addEventListener('click', handleClickStock);

        const userThings = document.getElementById("userThings");
        const userBtn = document.getElementById("userBtn");

        const handleClickUser = () => {
            userBtn.classList.toggle('d-none');
        }

        userThings.addEventListener('click', handleClickUser);
    </script>
</div>
</body>
</html>