<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="articlesMenu">
    <a th:if="${#httpServletRequest.requestURI != '/article'}" th:href="@{/article}"><div class="buttonik3" style="float: right;margin-right: 3%;max-width: 10%;" th:text="#{app.articleList}"></div></a>
    <a th:if="${#httpServletRequest.requestURI != '/formArticle'}" th:href="@{/formArticle}"><div class="buttonik3" style="float: right;margin-right: 3%;max-width: 10%;clear:right" th:text="#{app.addArticle}"></div></a>
    <a th:if="${#httpServletRequest.requestURI != '/articleTypes'}" th:href="@{/articleTypes}"><div class="buttonik3" style="float: right;margin-right: 3%;max-width: 10%;clear:right" th:text="#{app.articleTypes}"></div></a>
</div>
</body>
</html>