<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header">

    <script type="text/javascript" th:src="@{/js/logo.js}"></script>
    <section style="float: left;position: absolute">
        <span id="topA"><a th:href="@{''(lang=ru)}"><img th:src="@{/images/ru2.png}"/></a></span>
        <span><a th:href="@{''(lang=pl)}"><img th:src="@{/images/pl2.png}"/></a> </span>
        <span><a th:href="@{''(lang=en)}"><img th:src="@{/images/gb2.png}"/></a></span>
        <span><a th:href="@{''(lang=fr)}"><img th:src="@{/images/fr2.png}"/></a></span>
    </section>
    <section sec:authorize="isAuthenticated()" style="position:absolute;margin-left: 90%">
        <a  th:href="@{/users/myProfile/{token}(token=${token})}"><div th:text="#{app.myProfile}" class="buttonik3">My Profile</div></a>
        <a  th:href="@{/logout}"><div th:text="#{app.logout}" class="buttonik3">Logout</div></a>
    </section>
    <div id="div1" class="logo-big"></div><br>
    <div th:text="#{app.logo.d1}" id="div2" class="logo-small"></div><br>
    <div th:text="#{app.logo.d2}" id="div3" class="logo-small"></div>
</header>
</body>
</html>


