<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<span th:fragment="PasswordRestartedSuccessfully">
    <span style="font-size: 16px;color:white">Resetowanie hasła przebiegło pomyślnie, a nowe hasło przesłane na maila. Możesz zalogować się korzystając ze swojego nowego hasła</span>
    <br/><br/>  <a style="cursor: pointer" th:href="@{/blog/resetPassword}"><div class="btn" style="margin-right: auto;margin-left: auto;text-align: center">Zresetuj hasło ponownie</div></a>
    <br/><br/>  <a style="cursor: pointer" th:href="@{/index}"><div class="btn" style="margin-right: auto;margin-left: auto;text-align: center">Wróc do strony głównej</div></a>
</span>
</body>
</html>