<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="stockNavigation">
    <div style="display: flex">
    <div class="hamburger hamburger--active">
            <span class="hamburger__box">
                <span class="hamburger__inner"></span>
            </span>
    </div>
    <div class="navigation navigation--active">

        <div style="color: #00BCD4;font-size: 20px;font-weight: bold;" th:text="#{app.hello} + ': ' + ${#request.remoteUser} "></div><br/>
        <div sec:authorize="!hasRole('ROLE_ADMIN')">
            <div th:each="companys: ${companys}" style="color: #00BCD4;font-size: 20px;font-weight: bold;" th:text="#{app.company} + ': ' + ${companys.name}"></div><br/>
        </div>
        <div style="color: #00BCD4;font-size: 20px;font-weight: bold;" ><span sec:authentication="principal.authorities"></span></div><br/>
        <a th:href="@{/warehouse}"><div  class="btn">
            <span th:text="#{app.chWarehouse}"></span>
            <img th:src="@{/images/return.png}" class="right"/>
            </div></a>
        <a th:href="@{/stock}" ><div th:text="#{app.checkStock}" class="btn">Check Stock</div></a>
        <div class="btn" id="reception">
            <span th:text="#{app.receptionMenu}"></span>
            <img id="receptionImg" th:src="@{/images/list.png}" class="right"/>
        </div>
        <span id="receptionBtn" class="d-none">
        <a th:href="@{/reception/formReception}"><div th:text="#{app.declareReception}" class="btn2">Declare Reception</div></a>
        <a th:href="@{/reception/reception}"><div th:text="#{app.checkReceptions}" class="btn2">Check Receptions</div></a>
            </span>
        <div class="btn" id="shipment">
            <span th:text="#{app.shipmentMenu}"></span>
            <img id="shipmentImg" th:src="@{/images/list.png}" class="right"/>
        </div>
        <span id="shipmentBtn" class="d-none">
        <a th:href="@{/shipment/formShipment}"><div th:text="#{app.declareShipment}" class="btn2">Declare Shipment</div></a>
        <a th:href="@{/shipment/shipment}">
            <ol class="btn2"><div th:text="#{app.checkShipment}" style="color: white;font-weight: normal">Check Shipments</div >
                <li style="min-width: 100%;">
                    <ul>
                        <li>
                            <a th:text="#{app.checkShipmentInCreation}" th:href="@{/shipment/shipmentInCreation}">Check Shipments in Creation</a>
                        </li>
                    </ul>
                </li>
            </ol>
        </a>
            </span>
        <div class="btn" id="configuration">
            <span th:text="#{app.setting}"></span>
            <img id="settingImg" th:src="@{/images/list.png}" class="right"/>
        </div>
        <span id="configBtn" class="d-none">
            <span sec:authorize="!hasRole('ROLE_ADMIN')">
        <a th:href="@{/user/scheduler}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.scheduler}" style="color: white;font-weight: normal">Scheduler</div>
                <li style="min-width: 100%;">
                    <ul>
                        <li><a th:text="#{app.addScheduler}" th:href="@{/user/formScheduler}">Create Scheduler</a></li>
                    </ul>
                </li>
            </ol>
        </a>
            <a th:href="@{/emailRecipients}" style="min-width: 100%">
             <ol class="btn2"><div th:text="#{app.emailRecipientsList}" style="color: white;font-weight: normal">Emails Recipients list</div >
                <li style="min-width: 100%;">
                    <ul>
                        <li>
                            <a sec:authorize="hasRole('ROLE_USER')" th:text="#{app.addRecipientsList}" th:href="@{/user/formEmailRecipients}">Create New email recipient</a>
                        </li>
                    </ul>
                </li>
            </ol>
            </a>
            <a th:href="@{/article}" style="min-width: 100%">
             <ol class="btn2"><div th:text="#{app.articleList}" style="color: white;font-weight: normal">Article list</div >
                <li style="min-width: 100%;">
                    <ul>
                        <li>
                            <a th:text="#{app.addArticle}" th:href="@{/formArticle}">Create New Article</a>
                        </li>
                    </ul>
                </li>
            </ol>
        </a>
             <a th:href="@{/shipment/customer}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.customerList}" style="color: white;font-weight: normal">Customer list</div >
                <li style="min-width: 100%;">
                    <ul>
                        <li>
                            <a th:text="#{app.addCustomer}" th:href="@{/shipment/formCustomer}">Create New Customer</a>
                        </li>
                    </ul>
                </li>
            </ol>
        </a>
            <a th:href="@{/reception/vendor}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.vendorList}" style="color: white;font-weight: normal">Vendor list</div >
                <li style="min-width: 100%;">
                    <ul>
                        <li>
                            <a th:text="#{app.addVendor}" th:href="@{/reception/formVendor}">Create New Vendor</a>
                        </li>
                    </ul>
                </li>
            </ol>
        </a>
                <a th:href="@{/user/transactions-browser}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.transactions}" style="color: white;font-weight: normal">Transaction</div>
            </ol>
        </a>
                </span>
            <span sec:authorize="hasRole('ROLE_ADMIN')">

                <div class="btn3" id="companyMenu">
            <span th:text="#{app.companyMenu}"></span>
            <img id="companyImg" th:src="@{/images/list.png}" class="right"/>
        </div>
        <span id="companyBtn" class="d-none">
            <a th:href="@{/config/warehouseList}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.warehousesList}" style="color: white;font-weight: normal">Warehouses list</div >
                <li style="min-width: 100%;">
                    <ul>
                        <li><a th:text="#{app.addWarehouse}" th:href="@{/config/formWarehouseCreation}">Create New Warehouse</a></li>
                        <li><a th:text="#{app.deactivateWarehouse}"  th:href="@{/config/warehouseDeactivatedList}">Deactivated warehouses list</a></li>
                    </ul>
                </li>
            </ol>
        </a>
            <a th:href="@{/config/company}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.companiesList}" style="color: white;font-weight: normal">Companies list</div >
                <li style="min-width: 100%;">
                    <ul>
                        <li>
                            <a th:text="#{app.addCompany}" th:href="@{/config/formCompany}">Create New Company</a>
                        <li><a th:text="#{app.deactivateCompany}" th:href="@{/config/companyDeactivatedList}">Deactivated company list</a></li>
                        </li>
                    </ul>
                </li>
            </ol>
        </a>
        <a th:href="@{/reception/vendor}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.vendorList}" style="color: white;font-weight: normal">Vendor list</div>
            <li style="min-width: 100%;">
                <ul>
                    <li>
                        <a th:text="#{app.addVendor}" th:href="@{/reception/formVendor}">Create New Vendor</a>
                    <li><a th:text="#{app.deactivateVendor}" th:href="@{/config/vendorDeactivatedList}">Deactivated vendor list</a></li>
                    </li>
                </ul>
            </li>
        </ol>
        </a>
        <a th:href="@{/shipment/customer}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.customerList}" style="color: white;font-weight: normal">Customer list</div >
                <li style="min-width: 100%;">
                    <ul>
                        <li>
                            <a th:text="#{app.addCustomer}" th:href="@{/shipment/formCustomer}">Create New Customer</a>
                        <li><a th:text="#{app.deactivateCustomer}" th:href="@{/config/customerDeactivatedList}">Deactivated customer list</a></li>
                        </li>
                    </ul>
                </li>
            </ol>
        </a>

        </span>
        <div  class="btn3" id="stockMenu">
            <span th:text="#{app.stockMenu}"></span>
            <img id="stockImg" th:src="@{/images/list.png}" class="right"/>
        </div>
        <span id="stockBtn" class="d-none">
        <a th:href="@{/article}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.articleList}" style="color: white;font-weight: normal">Article list</div >
                <li style="min-width: 100%;">
                    <ul>
                        <li>
                            <a th:text="#{app.addArticle}" th:href="@{formArticle}">Create New Article</a>
                        <li><a th:text="#{app.deactivateArticle}" th:href="@{/config/articleDeactivatedList}">Deactivated article list</a></li>
                        </li>
                    </ul>
                </li>
            </ol>
        </a>
        <a th:href="@{/config/unit}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.unitsList}" style="color: white;font-weight: normal">Units list</div >
                <li style="min-width: 100%;">
                    <ul>
                        <li><a th:text="#{app.addUnit}" th:href="@{/config/formUnitCreation}">Create New Unit</a></li>
                        <li><a th:text="#{app.deactivateUnit}" th:href="@{/config/unitDeactivatedList}">Deactivated units list</a></li>
                    </ul>
                </li>
            </ol>
        </a>
        </span>
        <div class="btn3" id="userThings">
            <span th:text="#{app.userMenu}"></span>
            <img id="userImg" th:src="@{/images/list.png}" class="right"/>
        </div>
        <span id="userBtn" class="d-none">
        <a th:href="@{/config/userList}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.userList}" style="color: white;font-weight: normal">User list</div >
                <li style="min-width: 100%;">
                    <ul>
                        <li><a th:text="#{app.addUser}" th:href="@{/config/formUserCreation}">Create New User</a></li>
                        <li><a th:text="#{app.deactivateUsers}" th:href="@{/config/usersDeactivatedList}">Deactivated users list</a></li>
                    </ul>
                </li>
            </ol>
        </a>
        <a th:href="@{/emailRecipients}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.emailRecipientsList}" style="color: white;font-weight: normal">Emails Recipients list</div >
                <li style="min-width: 100%;">
                    <ul>
                        <li>
                            <a th:text="#{app.addRecipientsList}" th:href="@{/user/formEmailRecipients}">Create New email recipient</a></li>
                        <li><a th:text="#{app.deactivateRecipientsList}" th:href="@{/config/emailRecipientsDeactivatedList}">Deactivated email recipients</a>
                        </li>
                    </ul>
                </li>
            </ol>
        </a>
        </span>
        <div  class="btn3" id="config">
            <span th:text="#{app.config}"></span>
            <img id="configImg" th:src="@{/images/list.png}" class="right"/>
        </div>
        <span id="configBt" class="d-none">
        <a th:href="@{/user/scheduler}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.scheduler}" style="color: white;font-weight: normal">Scheduler</div>
                <li style="min-width: 100%;">
                    <ul>
                        <li><a th:text="#{app.addScheduler}" th:href="@{/user/formScheduler}">Create Scheduler</a></li>
                        <li><a th:text="#{app.deactivateSchedulers}" th:href="@{/config/schedulersDeactivatedList}">Deactivated schedulers list</a></li>
                    </ul>
                </li>
            </ol>
        </a>
            <a th:href="@{/user/transactions-browser}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.transactions}" style="color: white;font-weight: normal">Transaction</div>
            </ol>
        </a>
        </span>


            </span>
        </span>

    </div>
    </div>
    <script>
        const reception = document.getElementById("reception");
        const receptionButtons = document.getElementById("receptionBtn");
        let switcherRec = 0;

        const handleClickReception = () => {
            receptionButtons.classList.toggle('d-none');
            switcherRec = switcherRec + 1;
            imgSwitcherRec();
        }

        function imgSwitcherRec(){
            if (switcherRec % 2 == 0) {
                document.getElementById('receptionImg').src  = '/images/list.png';
            }
            else {
                document.getElementById('receptionImg').src = '/images/close.png';
            }
        }

        reception.addEventListener('click', handleClickReception);

        const shipment = document.getElementById("shipment");
        const shipmentButtons = document.getElementById("shipmentBtn");
        let switcherShi = 0;

        const handleClickShipment = () => {
            shipmentButtons.classList.toggle('d-none');
            switcherShi = switcherShi + 1;
            imgSwitcherShi();
        }

        function imgSwitcherShi(){
            if (switcherShi % 2 == 0) {
                document.getElementById('shipmentImg').src  = '/images/list.png';
            }
            else {
                document.getElementById('shipmentImg').src = '/images/close.png';
            }
        }

        shipment.addEventListener('click', handleClickShipment);

        const configuration = document.getElementById("configuration");
        const configBtn = document.getElementById("configBtn");
        let switcherSet = 0;

        const handleClickConfiguration = () => {
            configBtn.classList.toggle('d-none');
            switcherSet = switcherSet + 1;
            imgSwitcherSet();
        }

        function imgSwitcherSet(){
            if (switcherSet % 2 == 0) {
                document.getElementById('settingImg').src  = '/images/list.png';
            }
            else {
                document.getElementById('settingImg').src = '/images/close.png';
            }
        }

        configuration.addEventListener('click', handleClickConfiguration);


        const companyMenu = document.getElementById("companyMenu");
        const companyBtn = document.getElementById("companyBtn");
        let switcherCom = 0;

        const handleClickCompany = () => {
            companyBtn.classList.toggle('d-none');
            switcherCom = switcherCom + 1;
            imgSwitcherCom();
        }

        function imgSwitcherCom(){
            if (switcherCom % 2 == 0) {
                document.getElementById('companyImg').src  = '/images/list.png';
            }
            else {
                document.getElementById('companyImg').src = '/images/close.png';
            }
        }

        companyMenu.addEventListener('click', handleClickCompany);


        const stockMenu = document.getElementById("stockMenu");
        const stockBtn = document.getElementById("stockBtn");
        let switcherSto = 0;

        const handleClickStock = () => {
            stockBtn.classList.toggle('d-none');
            switcherSto = switcherSto + 1;
            imgSwitcherSto();
        }

        function imgSwitcherSto(){
            if (switcherSto % 2 == 0) {
                document.getElementById('stockImg').src  = '/images/list.png';
            }
            else {
                document.getElementById('stockImg').src = '/images/close.png';
            }
        }

        stockMenu.addEventListener('click', handleClickStock);

        const userThings = document.getElementById("userThings");
        const userBtn = document.getElementById("userBtn");
        let switcherUsr = 0;

        const handleClickUser = () => {
            userBtn.classList.toggle('d-none');
            switcherUsr = switcherUsr + 1;
            imgSwitcherUsr();
        }

        function imgSwitcherUsr(){
            if (switcherUsr % 2 == 0) {
                document.getElementById('userImg').src  = '/images/list.png';
            }
            else {
                document.getElementById('userImg').src = '/images/close.png';
            }
        }

        userThings.addEventListener('click', handleClickUser);

        const config = document.getElementById("config");
        const configBt = document.getElementById("configBt");
        let switcherCon = 0;

        const handleClickConfig = () => {
            configBt.classList.toggle('d-none');
            switcherCon = switcherCon + 1;
            imgSwitcherCon();
        }

        function imgSwitcherCon(){
            if (switcherCon % 2 == 0) {
                document.getElementById('configImg').src  = '/images/list.png';
            }
            else {
                document.getElementById('configImg').src = '/images/close.png';
            }
        }

        config.addEventListener('click', handleClickConfig);
    </script>
</div>
</body>
</html>