<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<span th:fragment="userNavigation">
    <div class="hamburger hamburger--active">
            <span class="hamburger__box">
                <span class="hamburger__inner"></span>
            </span>
    </div>
    <div  class="navigation navigation--active">
        <div style="color: #00BCD4;font-size: 20px;font-weight: bold;" th:text="#{app.hello} + ': ' + ${#request.remoteUser} "></div><br/>
        <div th:each="companys: ${companys}" style="color: #00BCD4;font-size: 20px;font-weight: bold;" th:text="#{app.company} + ': ' + ${companys.name}"></div><br/>
        <div style="color: #00BCD4;font-size: 20px;font-weight: bold;" ><span sec:authentication="principal.authorities"></span></div><br/>


        <a th:href="@{/warehouse}"><div th:text="#{app.chWarehouse}" class="btn">Choose Warehouse</div></a>
         <div class="btn" id="configuration">
              <span th:text="#{app.config}"></span>
            <img id="configImg" th:src="@{/images/list.png}" class="right"/>
         </div>
        <span id="configBtn" class="d-none">
        <a th:href="@{/user/scheduler}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.scheduler}" style="color: white;font-weight: normal">Scheduler</div>
                <li style="min-width: 100%;">
                    <ul>
                        <li><a th:text="#{app.addScheduler}" th:href="@{/user/formScheduler}">Create Scheduler</a></li>
                    </ul>
                </li>
            </ol>
        </a>
            <a th:href="@{/emailRecipients}" style="min-width: 100%">
             <ol class="btn2"><div th:text="#{app.emailRecipientsList}" style="color: white;font-weight: normal">Emails Recipients list</div >
                <li style="min-width: 100%;">
                    <ul>
                        <li>
                            <a sec:authorize="hasRole('ROLE_USER')" th:text="#{app.addRecipientsList}" th:href="@{/user/formEmailRecipients}">Create New email recipient</a>
                        </li>
                    </ul>
                </li>
            </ol>
            </a>
            <a th:href="@{/article}" style="min-width: 100%">
             <ol class="btn2"><div th:text="#{app.articleList}" style="color: white;font-weight: normal">Article list</div >
                <li style="min-width: 100%;">
                    <ul>
                        <li>
                            <a th:text="#{app.addArticle}" th:href="@{/formArticle}">Create New Article</a>
                        </li>
                    </ul>
                </li>
            </ol>
        </a>
             <a th:href="@{/shipment/customer}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.customerList}" style="color: white;font-weight: normal">Customer list</div >
                <li style="min-width: 100%;">
                    <ul>
                        <li>
                            <a th:text="#{app.addCustomer}" th:href="@{/shipment/formCustomer}">Create New Customer</a>
                        </li>
                    </ul>
                </li>
            </ol>
        </a>
            <a th:href="@{/reception/vendor}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.vendorList}" style="color: white;font-weight: normal">Vendor list</div >
                <li style="min-width: 100%;">
                    <ul>
                        <li>
                            <a th:text="#{app.addVendor}" th:href="@{/reception/formVendor}">Create New Vendor</a>
                        </li>
                    </ul>
                </li>
            </ol>
        </a>
            <a th:href="@{/user/transactions-browser}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.transactions}" style="color: white;font-weight: normal">Transaction</div>
            </ol>
        </a>
            <a th:href="@{/user/issueLog-browser}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.issueLog}" style="color: white;font-weight: normal">Issue Log</div>
            </ol>
        </a>
             <a th:href="@{/user/locations-browser}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.locations}" style="color: white;font-weight: normal">Locations</div>
                 <li style="min-width: 100%;">
                    <ul>
                        <li>
                            <a th:text="#{app.addLocation}" th:href="@{/user/formLocation}">Create New Location</a>
                            <a th:text="#{app.addLocations}" th:href="@{/user/formLocationPack}">Create Location pack</a>
                            <a th:text="#{app.addLocationsToStorageZone}" th:href="@{/user/addLocToStorageZones}">Add Locations To Storage Zone</a>
                        </li>
                    </ul>
                </li>
            </ol>
        </a>
             <a th:href="@{/user/storageZones-browser}" style="min-width: 100%">
            <ol class="btn2"><div th:text="#{app.storageZones}" style="color: white;font-weight: normal">Storage Zones</div>
                 <li style="min-width: 100%;">
                    <ul>
                        <li>
                            <a th:text="#{app.addStorageZone}" th:href="@{/user/formLocation}">Create New Storage Zone</a>
                        </li>
                    </ul>
                </li>
            </ol>
        </a>

        </span>
         <div class="btn" id="warehouseOperations">
              <span th:text="#{app.warehouseOperations}"></span>
            <img id="whsOperationsImg" th:src="@{/images/list.png}" class="right"/>
         </div>
        <span id="whsOperationsBtn" class="d-none" style="min-width: 100%">
        <a th:href="@{/warehouse}"><div  class="btn3">
            <span th:text="#{app.chWarehouse}"></span>
            <img th:src="@{/images/return.png}" class="right"/>
            </div></a>
        <a th:href="@{/stock}" ><div th:text="#{app.checkStock}" class="btn3">Check Stock</div></a>
        <div class="btn3" id="reception">
            <span th:text="#{app.receptionMenu}"></span>
            <img id="receptionImg" th:src="@{/images/list.png}" class="right"/>
        </div>
        <span id="receptionBtn" class="d-none">
        <a th:href="@{/reception/formReception}"><div th:text="#{app.declareReception}" class="btn2">Declare Reception</div></a>
        <a th:href="@{/reception/reception}"><div th:text="#{app.checkReceptions}" class="btn2">Check Receptions</div></a>
            </span>
        <div class="btn3" id="shipment">
            <span th:text="#{app.shipmentMenu}"></span>
            <img id="shipmentImg" th:src="@{/images/list.png}" class="right"/>
        </div>
        <span id="shipmentBtn" class="d-none">
        <a th:href="@{/shipment/formShipment}"><div th:text="#{app.declareShipment}" class="btn2">Declare Shipment</div></a>
        <a th:href="@{/shipment/shipment}">
            <ol class="btn2"><div th:text="#{app.checkShipment}" style="color: white;font-weight: normal">Check Shipments</div >
                <li style="min-width: 100%;">
                    <ul>
                        <li>
                            <a th:text="#{app.checkShipmentInCreation}" th:href="@{/shipment/shipmentInCreation}">Check Shipments in Creation</a>
                        </li>
                    </ul>
                </li>
            </ol>
        </a>
            </span>
        </span>
        <script>
            const warehouseOperations = document.getElementById("warehouseOperations");
            let whsOperationsSwitcher = 0;

            const handleClickwarehouseOperations = () => {
                whsOperationsSwitcher = whsOperationsSwitcher + 1;
                imgWhsOperationsSwitcher();
            }

            function imgWhsOperationsSwitcher(){
                if (whsOperationsSwitcher % 2 == 0) {
                    document.getElementById('whsOperationsImg').src  = '/images/list.png';
                    $("#whsOperationsBtn").hide(500);
                    $('html, body').animate({
                        scrollTop: $("#topA").offset().top
                    }, 1000);
                }
                else {
                    document.getElementById('whsOperationsImg').src = '/images/close.png';
                    $("#whsOperationsBtn").show(500);
                    $('html, body').animate({
                        scrollTop: $("#warehouseOperations").offset().top
                    }, 2000);
                }
            }


            warehouseOperations.addEventListener('click', handleClickwarehouseOperations);

             const configuration = document.getElementById("configuration");
             let switcher = 0;

             const handleClickConfiguration = () => {
                 switcher = switcher + 1;
                 imgSwitcher();
             }

             function imgSwitcher(){
                 if (switcher % 2 == 0) {
                     document.getElementById('configImg').src  = '/images/list.png';
                     $("#configBtn").hide(500);
                     $('html, body').animate({
                         scrollTop: $("#topA").offset().top
                     }, 1000);
                 }
                 else {
                     document.getElementById('configImg').src = '/images/close.png';
                     $("#configBtn").show(500);
                     $('html, body').animate({
                         scrollTop: $("#configuration").offset().top
                     }, 2000);
                 }
             }


             configuration.addEventListener('click', handleClickConfiguration);

            const reception = document.getElementById("reception");
            let switcherRec = 0;

            const handleClickReception = () => {
                switcherRec = switcherRec + 1;
                imgSwitcherRec();
            }

            function imgSwitcherRec(){
                if (switcherRec % 2 == 0) {
                    document.getElementById('receptionImg').src  = '/images/list.png';
                    $("#receptionBtn").hide(500);
                }
                else {
                    document.getElementById('receptionImg').src = '/images/close.png';
                    $("#receptionBtn").show(500);
                }
            }

            reception.addEventListener('click', handleClickReception);

            const shipment = document.getElementById("shipment");
            let switcherShi = 0;

            const handleClickShipment = () => {
                switcherShi = switcherShi + 1;
                imgSwitcherShi();
            }

            function imgSwitcherShi(){
                if (switcherShi % 2 == 0) {
                    document.getElementById('shipmentImg').src  = '/images/list.png';
                    $("#shipmentBtn").hide(500);
                }
                else {
                    document.getElementById('shipmentImg').src = '/images/close.png';
                    $("#shipmentBtn").show(500);
                    $('html, body').animate({
                        scrollTop: $("#shipmentBtn").offset().top
                    }, 2000);
                }
            }
            shipment.addEventListener('click', handleClickShipment);

        </script>
    </div>

</span>
</body>
</html>