<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>WMS CLS app</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />

	<script src ="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>

	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">

	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body onload="logo()">
<div class="main-agileits">
	<div th:include="fragments/header :: header"></div>
</div>

<div id="navigate-panel" style="float: left" class="mainw4-agileinfo">
	<div th:include="fragments/whichNavPanelF :: whichNavPanelF"></div>
</div>

<div id="content" class="mainw3-agileinfo">
	<div class="login-form">
		<form th:object="${transactionSearching}" method="post" th:action="@{/user/transactions-browser}">
			<div class="titleList">Find Transactions</div><br/>
			<section>
				<label style="color: white;font-weight: bold">Warehouse</label>
				<select class="select-css" th:field="*{warehouse}">
					<option th:each="i : ${warehouses}" th:value="${i.name}" th:text="${i.name}"></option>
					<option th:value="'%'">All</option>
				</select>
			</section><br/><br/>
			<section>
				<label style="color: white;font-weight: bold" th:text="#{app.company}">Company</label>
				<select class="select-css" th:field="*{company}">
					<option th:each="i : ${activeCompany}" th:value="${i.name}" th:text="${i.name}">
					</option>
				</select>
			</section><br/><br/>
			<section>
				<label style="color: white;font-weight: bold">Transaction type</label>
				<input type="text" title="Number value" th:field="*{transactionType}"/>
			</section>
			<section>
				<label style="color: white;font-weight: bold">Transaction group</label>
				<select class="select-css" th:field="*{transactionGroup}">
					<option th:value="Reception">Reception</option>
					<option th:value="Stock">Stock</option>
					<option th:value="Configuration">Configuration</option>
					<option th:value="Shipment">Shipment</option>
					<option th:value="'%'">All</option>
				</select> <br/><br/>
			</section>
			<section>
				<label style="color: white;font-weight: bold">Transaction created by User</label>
				<input type="text" th:field="*{transactionUser}"/>
			</section>
			<section>
				<label style="color: white;font-weight: bold">Transactions From</label>
				<input type="date" th:field="*{transactionDateFrom}"/>
			</section>

			<section>
				<label style="color: white;font-weight: bold">Transactions To</label>
				<input type="date" th:field="*{transactionDateTo}"/>
			</section>

			<section>
				<br/><button class="button"  th:text="#{app.search}" type="submit">Search</button>
			</section>
		</form>

	</div>

	<div th:include="fragments/footer :: footer"></div>

</div>
<div class="w3copyright-agile">
	<p>© 2017 Tiny Ui Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
</div>
</div>
</body>
</html>