<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>WMS CLS app</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Tiny Ui Login Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script src ="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>
<!-- Custom Theme files -->
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/font-awesome.css" rel="stylesheet">		<!-- font-awesome icons -->
<!-- //Custom Theme files -->
<!-- web font -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'><!--web font-->
<!-- //web font -->
</head>
<body onload="logo()">


	<!-- main -->
	<div class="main-agileits">
		<div id="div1" class="logo-big"></div><br>
		<div id="div2" class="logo-small"></div><br>
		<div id="div3" class="logo-small"></div>
		<div class="mainw3-agileinfo">
			<!-- login form -->
			<div class="login-form">  
				<div class="login-agileits-top"> 	
					<form method="post" th:action="@{/warehouse}">
						<p>Username </p>
						<input id="input1" type="text" class="name" name="username" placeholder="Username" required=""/>
						<p>Password</p>
						<input id="input2" type="password" class="password" name="Password" placeholder="*********" required=""/>

						<input type="submit" value="Login">

					</form> 	
				</div>
				<div class="login-agileits-bottom" style="color: #00BCD4;font-size: 20px" >
					<h6>Your CLS WMS</h6>
				</div>
				<div class="social-w3lsicon">
					<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
					<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
					<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>
					<a href="#" class="social-button drble"><i class="fa fa-dribbble"></i></a>
					<a href="#" class="social-button be"><i class="fa fa-behance"></i></a>
					<a href="#" class="social-button in"><i class="fa fa-linkedin"></i></a>
				</div>
			</div> 
		</div>	
	</div>	
	<!-- //main -->
	<!-- copyright -->
	<div class="w3copyright-agile">
		<p>© 2017 Tiny Ui Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
	</div>
	<!-- //copyright -->
	<!-- js -->  
	<script src="../static/js/superplaceholder.js"></script>
	<script src="../static/js/logo.js"></script>
	<script>
	superplaceholder({
			el: input1,
			sentences: [ 'Write your Username', 'For example:', 'SuperUserStrojem','or', 'SuperUserbUDUJem' ],
			options: {
				loop: true,
				startOnFocus: false
			}
		})
		superplaceholder({
			el: input2,
			sentences: [ 'Write your Password', 'For example:', 'SuperUserStrojem','**', 'SuperUserbUDUJem' ],
			options: {
				loop: true,
				startOnFocus: false 
			}
		})
	</script>
	<!-- //js --> 
</body>
</html>