<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>WMS CLS app</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />

	<script src ="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>

	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">

	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body onload="logo()">
<div class="main-agileits">
	<div th:include="fragments/header :: header"></div>
</div>

<div id="navigate-panel" style="float: left" class="mainw4-agileinfo">
	<div th:include="fragments/whichNavPanelF :: whichNavPanelF"></div>
</div>

<div id="content" class="mainw3-agileinfo">
	<div class="login-form">
		<form th:object="${emailRecipients}" method="post" th:action="@{/editEmailRecipients}">
			<div class="titleList">Edit Email Recipient</div><br/>
			<section>
				<label style="color: white;font-weight: bold">Email</label>
				<input type="text" th:field="*{email}"/>
				<input type="hidden" th:field="*{token}"/>
			</section>
			<section>
				<label style="color: white;font-weight: bold">Name</label>
				<input type="text" th:field="*{name}"/>
			</section>
			<section>
				<label style="color: white;font-weight: bold">Last name</label>
				<input type="text" th:field="*{lastname}"/>
			</section>
			<section>
				<label style="color: white;font-weight: bold">Phone number</label>
				<input type="text" th:field="*{phone}"/>
			</section>
			<section>
				<label style="color: white;font-weight: bold">Type</label>
				<label style="color: white;font-weight: bold" th:each="i : ${emailTypes}"><br/>
					<input type="checkbox" th:field="*{emailTypes}"  th:value="${i.id}" id="emailTypes"/>
					<span style="font-weight: bold" th:text="${i.type}" th:value="${i.id}" class="title"></span><br/>
				</label>
			</section>
			<section sec:authorize="hasRole('ROLE_ADMIN')">
				<label style="color: white;font-weight: bold">Company</label>
				<select class="select-css" th:field="*{company}">
					<option th:each="i : ${companies}" th:value="${i.id}" th:text="${i.name}">
					</option>
				</select>
			</section><br/>
			<section>
				<br/><button class="button" type="submit">Save</button>
			</section>
		</form>

	</div>

	<div th:include="fragments/footer :: footer"></div>

</div>
<div class="w3copyright-agile">
	<p>© 2017 Tiny Ui Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
</div>
</div>


<script type="text/javascript" th:src= "@{/js/superplaceholder.js}"></script>
<script type="text/javascript" th:src="@{/js/logo.js}"></script>
</body>


</html>