<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>WMS CLS app</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />

	<script src ="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>

	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">

	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body onload="logo()">
<div class="main-agileits">
	<div th:include="fragments/header :: header"></div>
</div>

<div id="navigate-panel" style="float: left" class="mainw4-agileinfo">
	<div th:if="${#request.remoteUser.contains('admin')}">
		<div th:include="fragments/adminNavigation :: adminNavigation"></div>
	</div>

	<div th:unless="${#request.remoteUser.contains('admin')}">
		<div th:include="fragments/userNavigation :: userNavigation"></div>
	</div>
</div>

<div id="content" class="mainw3-agileinfo">
	<div class="login-form">
		<form th:object="${customer}" method="post" th:action="@{/formEditCustomer}">
			<div style="color: white;font-weight: bold;text-align: center;font-size: 25px">Edit Customer</div><br/>
			<section>
				<label style="color: white;font-weight: bold">Customer name</label>
				<input type="text" th:field="*{name}" />
				<input type="hidden" th:field="*{id}"/>
<!--				<input type="hidden" th:value="${localDateTime}" id="created" name="created"/>-->
<!--				<input type="hidden" th:value="${localDateTime}" id="last_update" name="last_update"/>-->
				<input type="hidden" th:value="true" id="active" name="active"/>
			</section>
			<section>
				<label style="color: white;font-weight: bold">Country</label>
				<input type="text" th:field="*{country}"/>
			</section>
			<section>
				<label style="color: white;font-weight: bold">Street</label>
				<input type="text" th:field="*{street}"/>
			</section>
			<section>
				<label style="color: white;font-weight: bold">Post Code</label>
				<input type="text" th:field="*{post_code}"/>
			</section>
			<section>
				<label style="color: white;font-weight: bold">City</label>
				<input type="text" th:field="*{city}"/>
			</section>
			<section>
				<label style="color: white;font-weight: bold">European Union</label>
				<select class="select-css" th:field="*{european_union}">
					<option th:value="true">Yes</option>
					<option th:value="false">No</option>
				</select>
			</section><br/>
			<section>
				<label style="color: white;font-weight: bold">Company</label>
				<select class="select-css" th:field="*{company}">
					<option th:each="i : ${companies}" th:value="${i.id}" th:text="${i.name}">
					</option>
				</select>
			</section><br/>
			<section>
				<br/><button class="button" type="submit">Save</button>
			</section>
		</form>

	</div>

	<div th:include="fragments/footer :: footer"></div>

</div>
<div class="w3copyright-agile">
	<p>© 2017 Tiny Ui Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
</div>
</div>


<script type="text/javascript" th:src= "@{/js/superplaceholder.js}"></script>
<script type="text/javascript" th:src="@{/js/logo.js}"></script>
<script>
	superplaceholder({
		el: input1,
		sentences: [ 'Write your Username', 'For example:', 'SuperUserStrojem','or', 'SuperUserbUDUJem' ],
		options: {
			loop: true,
			startOnFocus: false
		}
	})
	superplaceholder({
		el: input2,
		sentences: [ 'Write your Password', 'For example:', 'SuperUserStrojem','**', 'SuperUserbUDUJem' ],
		options: {
			loop: true,
			startOnFocus: false
		}
	})
</script>

</body>


</html>