<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>WMS CLS app</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />

	<script src ="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>

	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">

	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body onload="logo()">
<div class="main-agileits">
	<div th:include="fragments/header :: header"></div>
</div>
<div id="navigate-panel" style="float: left" class="mainw4-agileinfo">
	<div th:include="fragments/stockNavigation :: stockNavigation"></div>
</div>

<div id="content" class="mainw3-agileinfo">
	<div class="login-form">
		<form  method="post" th:action="@{/formReception}">
			<div style="color: white;font-weight: bold;text-align: center;font-size: 25px">Create a new Reception</div><br/>
			<section>
				<label style="color: white;font-weight: bold">New Reception</label>
				<input type="text" th:value="${lastReceptionNumber}" id="reception.reception_number" name="reception.reception_number"/>
				<input type="hidden" th:field="*{reception.id}"/>
				<input type="hidden" th:field="*{reception.company}"/>
				<input type="hidden" th:field="*{reception.warehouse}"/>
			</section>
			<section>
				<label style="color: white;font-weight: bold">Article</label>
				<select class="select-css" th:field="*{reception.article}">
					<option th:each="i : ${articles}" th:value="${i.id}" th:text="${i.article_number}">
					</option>
				</select>
			</section><br/>
			<section>
				<label style="color: white;font-weight: bold">Quality</label>
				<select class="select-css" th:field="*{reception.quality}">
					<option th:value="EU1">Europen Union first grade</option>
					<option th:value="EU2">Europen Union second grade</option>
					<option th:value="BW1">Bonded Warehouse first grade</option>
					<option th:value="BW1">Bonded Warehouse second grade</option>
				</select>
			</section><br/>
			<section>
				<label style="color: white;font-weight: bold">How many pallets?</label>
				<select class="select-css">
					<option th:each="i : ${pallets}" th:value="${i}" th:text="${i}">
					</option>
				</select>
			</section><br/>
			<section>
				<label style="color: white;font-weight: bold">How many pieces?</label>
				<input type="number" th:field="*{reception.pieces_qty}"/>
			</section>
			<section>
				<label style="color: white;font-weight: bold">Vendor</label>
				<select class="select-css" th:field="*{reception.vendor}">
					<option th:each="i : ${vendors}" th:value="${i.id}" th:text="${i.name}">
					</option>
				</select>
			</section><br/><br/>
			<section>
				<br/><button class="button" type="submit">Save</button>
			</section>
		</form>
		<div th:include="fragments/footer :: footer"></div>
	</div>
	<div class="w3copyright-agile">
		<p>© 2017 Tiny Ui Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
	</div>
</div>

<script type="text/javascript" th:src= "@{/js/superplaceholder.js}"></script>
<script type="text/javascript" th:src="@{/js/logo.js}"></script>
<script>
	superplaceholder({
		el: input1,
		sentences: [ 'Write your Username', 'For example:', 'SuperUserStrojem','or', 'SuperUserbUDUJem' ],
		options: {
			loop: true,
			startOnFocus: false
		}
	})
	superplaceholder({
		el: input2,
		sentences: [ 'Write your Password', 'For example:', 'SuperUserStrojem','**', 'SuperUserbUDUJem' ],
		options: {
			loop: true,
			startOnFocus: false
		}
	})
</script>

</body>
</html>