<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>WMS CLS app</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />

	<script src ="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>

	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">

	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body onload="logo()">
<div class="main-agileits">
	<div th:include="fragments/header :: header"></div>
</div>

<div id="navigate-panel" style="float: left" class="mainw4-agileinfo">
	<div th:include="fragments/whichNavPanelF :: whichNavPanelF"></div>
</div>

<div id="content" class="mainw3-agileinfo">
	<div class="login-form">
		<form th:object="${users}" method="post" th:action="@{/config/formUserEdit}">
			<div style="color: white;font-weight: bold;text-align: center;font-size: 25px">Create a new User</div><br/>
			<section>
				<label th:text="'Login: ' + *{username}" style="color: white;font-weight: bold"></label>
				<input type="hidden" th:field="*{username}"/>
				<input type="hidden" th:field="*{id}"/>
				<input type="hidden" th:field="*{created}"/>
				<input type="hidden" th:value="${localDateTime}" id="last_update" name="last_update"/>
				<input type="hidden" th:value="${#request.remoteUser}" id="changeBy" name="changeBy"/>
			</section><br/>
			<section>
				<label style="color: white;font-weight: bold">Password</label>
				<input type="password" th:field="*{password}"/>
			</section>
			<section>
				<label style="color: white;font-weight: bold">Email</label>
				<input type="text" th:field="*{email}"/>
			</section>
			<section>
				<label style="color: white;font-weight: bold">Company</label>
				<select class="select-css" th:field="*{company}">
					<option th:each="i : ${companies}" th:value="${i.name}" th:text="${i.name}">
					</option>
				</select>
			</section><br/>
			<section>
				<label style="color: white;font-weight: bold">Permissions</label>
				<select class="select-css" th:field="*{usersRoles}">
					<option th:each="i : ${users_Roles}" th:value="${i.id}" th:text="${i.role}">
				</select>
			</section><br/>
			<section>
				<label style="color: white;font-weight: bold">Status</label>
				<select class="select-css" th:field="*{active}">
				<option th:value="true">Active</option>
				<option th:value="false">Deactive</option>
				</select>
			</section>
			<section>
				<br/><button class="button" type="submit">Save</button>
			</section>
		</form>


	</div>
	<div th:include="fragments/footer :: footer"></div>

</div>
<div class="w3copyright-agile">
	<p>© 2017 Tiny Ui Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
</div>
</div>



<script type="text/javascript" th:src= "@{/js/superplaceholder.js}"></script>
<script type="text/javascript" th:src="@{/js/logo.js}"></script>
<script>
	superplaceholder({
		el: input1,
		sentences: [ 'Write your Username', 'For example:', 'SuperUserStrojem','or', 'SuperUserbUDUJem' ],
		options: {
			loop: true,
			startOnFocus: false
		}
	})
	superplaceholder({
		el: input2,
		sentences: [ 'Write your Password', 'For example:', 'SuperUserStrojem','**', 'SuperUserbUDUJem' ],
		options: {
			loop: true,
			startOnFocus: false
		}
	})
</script>

</body>


</html>