<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
	<title>WMS CLS app</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />

	<script src ="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>

	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">

	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body onload="logo()">
<div class="main-agileits">
	<div th:include="fragments/header :: header"></div>
</div>
<div id="navigate-panel" style="float: left" class="mainw4-agileinfo">
	<div th:include="fragments/stockNavigation :: stockNavigation"></div>
</div>

<div id="content" class="mainw3-agileinfo">
	<div class="login-form">
		<form  method="post" th:action="@{/formReception}">

			<span th:if="${#request.remoteUser.contains('admin')}">
			<div th:if="${qtyOfOpenedReceptions > 0}" style="color: white;font-weight: bold;text-align: center;font-size: 25px">Add to opened Reception</div><br/><br/>
			<div th:if="${qtyOfOpenedReceptions == 0}" style="color: white;font-weight: bold;text-align: center;font-size: 25px">Create a new Reception</div><br/><br/>
			</span>

			<span th:unless="${#request.remoteUser.contains('admin')}">
				<span th:if="${qtyOfOpenedReceptions > 0}" >
					<div th:each="companys: ${companys}"  style="color: white;font-weight: bold;text-align: center;font-size: 25px" th:text="'Add to opened Reception for company: ' + ${companys.name}"></div><br/>
				</span>

				<span  th:if="${qtyOfOpenedReceptions == 0}">
					<div  th:each="companys: ${companys}"  style="color: white;font-weight: bold;text-align: center;font-size: 25px" th:text="'Create a new Reception for company: ' + ${companys.name}"></div><br/>
				</span>
			</span>

				<section  th:if="${qtyOfOpenedReceptions > 0}">
				<label style="color: white;font-weight: bold">Fullfill opened Reception</label>
					<select class="select-css" th:field="*{reception.receptionNumber}">
						<option th:each="i : ${openedReception}" th:value="${i.receptionNumber}" th:text="${i.receptionNumber}">
						</option>
					</select><br/>
			</section>

			<section  th:if="${qtyOfOpenedReceptions == 0}" >
				<label style="color: white;font-weight: bold">New Reception</label>
				<input type="text" th:value="${lastReceptionNumber}" id="receptionNumber" name="receptionNumber" readonly/>
			</section>

			<section>
				<label style="color: white;font-weight: bold">Article</label>
				<select class="select-css" th:field="*{reception.article}">
					<option th:each="i : ${articles}" th:value="${i.id}" th:text="${i.article_number}">
					</option>
				</select>
				<input type="hidden" th:field="*{reception.id}"/>
				<input th:unless="${#request.remoteUser.contains('admin')}" type="hidden" th:each="i : ${companys}" th:value="${i.id}" id="company" name="company"/>
				<input type="hidden" th:each="i : ${warehouses}" th:value="${i.id}" id="warehouse" name="warehouse"/>
				<input type="hidden" th:value="false" id="reception.finished" name="reception.finished"/>
				<input type="hidden" th:value="1" id="status" name="status"/>
			</section>

			<section th:if="${#request.remoteUser.contains('admin')}">
				<label style="color: white;font-weight: bold">Company</label>
				<select class="select-css" th:field="*{reception.company}">
					<option th:each="i : ${companys}" th:value="${i.id}" th:text="${i.name}">
					</option>
				</select>
			</section><br/>

			<section>
				<label style="color: white;font-weight: bold">Quality</label>
				<select class="select-css" th:field="*{reception.quality}">
					<option th:value="EU1">Europen Union first grade</option>
					<option th:value="EU2">Europen Union second grade</option>
					<option th:value="BW1">Bonded Warehouse first grade</option>
					<option th:value="BW2">Bonded Warehouse second grade</option>
				</select>
			</section><br/>

			<section>
				<label style="color: white;font-weight: bold">Unit</label>
				<select class="select-css" th:field="*{reception.unit}" >
					<option th:each="i : ${units}" th:value="${i.id}" th:text="${i.name}">
				</select><br/>
			</section>
			<section>
				<label style="color: white;font-weight: bold">How many handle devices?</label>
				<select class="select-css">
					<option th:each="i : ${pallets}"  th:text="${i}">
<!--				nalezy wrzucic do formularza		th:value="${i}"-->
					</option>
				</select>
			</section><br/>

			<section>
				<label style="color: white;font-weight: bold">How many pieces on handle devices?</label>
				<input type="number" th:field="*{reception.pieces_qty}" required="required" min="1" max="6666666"/>
			</section>

			<section>
				<label style="color: white;font-weight: bold">Handle Device</label>
				<input type="number" th:value="${nextPalletNbr}" id="hd_number" name="hd_number" readonly/>
			</section><br/>

			<section>
				<label style="color: white;font-weight: bold">Vendor</label>
				<select class="select-css" th:field="*{reception.vendor}">
					<option th:each="i : ${vendors}" th:value="${i.id}" th:text="${i.name}">
					</option>
				</select>
			</section><br/>

			<section style="float: right">
				<label style="color: white;font-weight: bold">Close Creation?</label>
				<input type="checkbox" th:field="*{reception.creation_closed}" th:value="true"/>
			</section><br/><br/>

			<section>
				<br/><button class="button" type="submit">Save</button>
			</section>

		</form>
		<div th:include="fragments/footer :: footer"></div>
	</div>
	<div class="w3copyright-agile">
		<p>© 2017 Tiny Ui Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
	</div>
</div>

<script type="text/javascript" th:src= "@{/js/superplaceholder.js}"></script>
<script type="text/javascript" th:src="@{/js/logo.js}"></script>
<script>
	superplaceholder({
		el: input1,
		sentences: [ 'Write your Username', 'For example:', 'SuperUserStrojem','or', 'SuperUserbUDUJem' ],
		options: {
			loop: true,
			startOnFocus: false
		}
	})
	superplaceholder({
		el: input2,
		sentences: [ 'Write your Password', 'For example:', 'SuperUserStrojem','**', 'SuperUserbUDUJem' ],
		options: {
			loop: true,
			startOnFocus: false
		}
	})
</script>

</body>
</html>