<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>WMS CLS app</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />

	<script src ="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>

	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">

<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body onload="logo()">

	<div class="main-agileits">
		<div th:include="fragments/header :: header"></div>
		<div class="mainw3-agileinfo">

			<div class="login-form">  
				<div class="login-agileits-top"> 	
					<form method="post" th:action="@{/index}">
						<fieldset>
							<legend>
								<p>Please Login</p>
							</legend>
							<div th:if="${param.error}">
								<p>Invalid username and password</p>
							</div>
							<div th:if="${param.logout}">
								<p>You have been logged out</p>
							</div>
						</fieldset>
						<br/>
						<p>Username </p>
						<input id="input1" type="text" class="name" name="username" placeholder="Username" required=""/>
						<p>Password</p>
						<input id="input2" type="password" class="password" name="password" placeholder="*********" required=""/>

						<input type="submit" value="Login">

					</form> 	
				</div>
				<div th:include="fragments/footer :: footer"></div>
			</div> 
		</div>	
	</div>	

	<div class="w3copyright-agile">
		<p>© 2017 Tiny Ui Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
	</div>

	<script type="text/javascript" th:src= "@{/js/superplaceholder.js}"></script>
	<script type="text/javascript" th:src="@{/js/logo.js}"></script>
	<script>
	superplaceholder({
			el: input1,
			sentences: [ 'Write your Username', 'For example:', 'SuperUserStrojem','or', 'SuperUserbUDUJem' ],
			options: {
				loop: true,
				startOnFocus: false
			}
		})
		superplaceholder({
			el: input2,
			sentences: [ 'Write your Password', 'For example:', 'SuperUserStrojem','**', 'SuperUserbUDUJem' ],
			options: {
				loop: true,
				startOnFocus: false 
			}
		})
	</script>

</body>
</html>