<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>WMS CLS app</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />

	<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>
	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">

<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body onload="logo()">

	<div id="top" class="main-agileits">
		<div th:include="fragments/header :: header"></div>
		<div class="mainw3-agileinfo">

			<div class="login-form">  
				<div class="login-agileits-top"> 	
					<form method="post" th:action="@{/index}">
						<fieldset>
							<legend>
								<p th:text="#{app.index.p1}">Please Login</p>
							</legend>
							<div th:if="${param.error}">
								<p th:text="#{app.index.p2}">Invalid username and password</p>
							</div>
							<div th:if="${param.logout}">
								<p >You have been logged out</p>
							</div>
						</fieldset>
						<br/>
						<p th:text="#{app.index.p3}">Username </p>
						<input id="input1" type="text" class="name" name="username" placeholder="Username" required=""/>
						<p th:text="#{app.index.p4}">Password</p>
						<input id="input2" type="password" class="password" name="password" placeholder="*********" required=""/>
						<input th:value="#{app.index.login}" type="submit"/>
					</form>
					<br/><br/>
					<form>
						<a style="letter-spacing: 2px;color: white" th:href="@{/blog/resetPassword}"><span class="hovery" th:text="#{app.login.remindPassword}"></span></a><br/><br/>
						<input type="checkbox" id="accountRequest"/>
						<label th:text="#{app.index.acr1}" style="letter-spacing: 2px;color: white">Click to display a request form for account</label>
					</form><br/>
					<div id="accountRequestFrom">
					<form  method="post" th:action="@{/contactForm}">
						<label th:text="#{app.index.acr2}" style="color: white;font-weight: normal">Imię:</label>
						<input id="name" name="name" type="text"/>
						<label th:text="#{app.index.acr3}" style="color: white;font-weight: normal">Nazwisko:</label>
						<input id="lastname" name="lastname" type="text"/>
						<label th:text="#{app.index.acr4}" style="color: white;font-weight: normal">Email:</label>
						<input id="email" name="email" type="text"/>
						<input type="submit" th:value="#{app.index.acr5}"/>
					</form>
					</div>
				</div>
				<div th:include="fragments/footer :: footer"></div>
			</div> 
		</div>	
	</div>	

	<div class="w3copyright-agile">
		<p>© 2017 Tiny Ui Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
	</div>
	<script type="text/javascript" th:src= "@{/js/superplaceholder.js}"></script>
	<script>
	superplaceholder({
			el: input1,
			sentences: [ 'Write your Username', 'For example:', 'MagdaM','or', 'PiotrP' ],
			options: {
				loop: true,
				startOnFocus: false
			}
		})
		superplaceholder({
			el: input2,
			sentences: [ 'Write your Password', 'For example:', '123','********', '123' ],
			options: {
				loop: true,
				startOnFocus: false 
			}
		})
	const hide = document.getElementById("accountRequestFrom")
	const accountRequest = document.getElementById("accountRequest")

	hide.classList.add("d-none")

	accountRequest.addEventListener("click", function (e) {
		if (!this.checked) {
			hide.classList.add("d-none")
		} else {
			hide.classList.remove("d-none")
		}
	})
	$('#accountRequest').click(function() {
		if ($(this).is(':checked')) {
			$("#accountRequestFrom").show(400);
			$('html, body').animate({
				scrollTop: $("#accountRequestFrom").offset().top
			}, 2000);
		} else {
			$("#accountRequestFrom").hide(400);
			console.log("Checkbox is unchecked.")
			$('html, body').animate({
				scrollTop: $("#top").offset().top
			}, 1000);
		}
	});
	</script>
</body>
</html>