<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>WMS CLS app</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />

	<script src ="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>

	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">

<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body onload="logo()">
	<div class="main-agileits">
		<div th:include="fragments/header :: header"></div>
	</div>
	<div id="navigate-panel" style="float: left" class="mainw4-agileinfo">
		<div th:include="fragments/stockNavigation :: stockNavigation"></div>
	</div>

	<div id="content" class="mainw3-agileinfo">
		<div style="width: 1200px" class="login-form">
			<div style="background-color: #00BCD4;border-radius: 3px" class="login-agileits-top">

				<div th:each="warehouse: ${warehouse}" style="color: white;text-align: center;font-size: 20px;font-weight: bold;" th:text="'Your Shipments during Creation in ' + ${warehouse.city}"></div><br/>
				<span sec:authorize="!hasRole('ROLE_ADMIN')">
					<div th:each="companys: ${companys}" style="color: white;text-align: center;font-size: 20px;font-weight: bold;" th:text="'For company: ' + ${companys.name}"></div>
				</span>

				<div th:unless="${stockDifferences.isEmpty()}" th:style="${messages.equals('Change red underlined qty to pass the validation')} == TRUE ? 'color: darkred;font-weight: bold;text-align: center' : 'color: green;font-weight: bold;text-align: center'"  th:text="${messages}"></div>
				<span>
					<div th:if="${stockDifferences.isEmpty() && cHMNFS>0}" style="color: green;font-weight: bold;text-align: center">Your Shipment passed successfully. You can find it in Shipments. Aritcles marked here to ship changed status on stock</div>
				</span>
					<br/>
				<table  style="color: white;text-align: left;width:100%;border: solid 1px">
					<tr style="border: solid 1px">
						<th class="tables">Shipment Number</th>
						<th class="tables">Article</th>
						<th class="tables">Unit</th>
						<th class="tables">Pieces Qty</th>
						<th th:if="${#request.remoteUser.contains('admin')}" class="tables">Company</th>
						<th class="tables">Quality</th>
						<th class="tables">Ship method</th>
						<th class="tables">Created</th>
						<th class="tables">Last update</th>
						<th class="tables">Changed by</th>
					</tr>
				    <tr style="border: solid 1px" th:each="shipments: ${shipments}">
						<td class="tables" style="padding-bottom: 2px">
							<ol><div th:text="${shipments.shipmentNumber}"></div>
								<li>
									<ul>
										<li><a th:href="@{/shipment/closeCreationShipment/{id}(id=${shipments.id})}">Close Creation</a></li>
										<li><a th:href="@{/shipment/editShipment/{id}(id=${shipments.id})}">Edit</a></li>
										<li><a th:href="@{/shipment/deleteShipmentLine/{id}(id=${shipments.id})}">Delete</a></li>
									</ul>
								</li>
							</ol>
						</td>
						<td class="tables" th:text="${shipments.article.article_number}"></td>
				        <td class="tables" th:text="${shipments.unit.name}"></td>
				        <td class="tables" th:text="${shipments.pieces_qty}"></td>
						<td th:if="${#request.remoteUser.contains('admin')}" class="tables" th:text="${shipments.company.name}"></td>
				        <td class="tables" th:text="${shipments.quality}"></td>
				        <td class="tables" th:text="${shipments.shipMethod.method}"></td>
						<td class="tables" th:text="${#strings.replace(#strings.substring(shipments.created,0,19),'T',' ')}"></td>
						<td class="tables" th:text="${#strings.replace(#strings.substring(shipments.last_update,0,19),'T',' ')}"></td>
						<td class="tables" th:text="${shipments.changeBy}"></td>
				    </tr>
				</table>
				<div style="color: white;text-align: center;width: 100%;font-weight: bold;font-size: 25px">Shipment summary:</div>
				<table style="color: white;text-align: left;width:33%;border: solid 1px;float:left">
					<tr>
						<th>Article:</th>
					</tr>
					<tr th:each="stockDifferences: ${stockDifferences}">
						<td class="tables" th:text="${stockDifferences}"></td>
					</tr>
				</table>
				<table style="color: white;text-align: left;width:34%;border: solid 1px;float:left">
					<tr>
						<th class="tables">Sum pieces for sending:</th>
					</tr>
					<tr th:each="shipmentCreationSummary: ${shipmentCreationSummary}">
						<td class="tables" th:text="${shipmentCreationSummary}"></td>
					</tr>
				</table>
				<table style="color: white;text-align: left;width:33%;border: solid 1px">
					<tr>
						<th>Difference to Stock:</th>
					</tr>
					<tr th:each="stockDifferencesQty: ${stockDifferencesQty}">
						<td th:title="${stockDifferencesQty<0} == TRUE ? 'Not enough goods for send! Edit or Delete one of shipment line to make proper quantity' : 'Enough quantity to send'" th:style="${stockDifferencesQty<0} == TRUE ? 'background: red'" class="tables" th:text="${stockDifferencesQty}"></td>
					</tr>
				</table>

				<a th:href="@{/shipment/formShipment}"><div class="buttonik" style="float: right;max-width: 20%;">Add to Shipment</div></a>

			</div><br/><br/>
			<div th:include="fragments/footer :: footer"></div>
		</div>
		<div class="w3copyright-agile">
			<p>© 2017 Tiny Ui Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
		</div>
	</div>



	<script type="text/javascript" th:src= "@{/js/superplaceholder.js}"></script>
	<script type="text/javascript" th:src="@{/js/logo.js}"></script>
	<script>
	superplaceholder({
			el: input1,
			sentences: [ 'Write your Username', 'For example:', 'SuperUserStrojem','or', 'SuperUserbUDUJem' ],
			options: {
				loop: true,
				startOnFocus: false
			}
		})
		superplaceholder({
			el: input2,
			sentences: [ 'Write your Password', 'For example:', 'SuperUserStrojem','**', 'SuperUserbUDUJem' ],
			options: {
				loop: true,
				startOnFocus: false 
			}
		})
	</script>

</body>
</html>