<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>WMS CLS app</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />

	<script src ="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>

	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">

<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body onload="logo()">
	<div class="main-agileits">
		<div th:include="fragments/header :: header"></div>
	</div>
		<div id="navigate-panel" style="float: left" class="mainw4-agileinfo" th:include="fragments/stockNavigation :: stockNavigation"></div>
	<div id="content" class="mainw3-agileinfo">
		<div style="width: 1200px" class="login-form">
			<div style="background-color: #00BCD4;border-radius: 3px" class="login-agileits-top">
				<div class="titleList" th:text="#{app.stockIn} +' ' + ${warehouse.city}"></div><br/>

				<span sec:authorize="!hasRole('ROLE_ADMIN')">
					<div th:each="companies: ${companies}" style="color: white;text-align: center;font-size: 20px;font-weight: bold;" th:text="#{app.forCompany} +': ' + ${companies.name}"></div>
				</span>
				<div th:unless="${stockMessage == null}" id="message" style="color: darkred;font-weight: bold;text-align: center" th:text="${stockMessage}"></div><br/><br/>

				<table  style="color: white;text-align: left;width:100%;border: solid 1px">
					<tr style="border: solid 1px">
						<th th:text="#{app.location}" style="font-weight: bold" class="tables">Location</th>
						<th th:text="#{app.handleDevice}" style="font-weight: bold" class="tables">Handle device</th>
						<th th:text="#{app.article}" style="font-weight: bold" class="tables">Article</th>
						<th th:text="#{app.unit}" style="font-weight: bold" class="tables">Unit</th>
						<th th:text="#{app.piecesQty}" style="font-weight: bold" class="tables">Pieces Qty</th>
						<th th:text="#{app.quality}" style="font-weight: bold" class="tables">Quality</th>
						<th th:text="#{app.status}" style="font-weight: bold" class="tables">Status</th>
						<th th:text="#{app.freeSpaceInLocation}" style="font-weight: bold" class="tables">Free space in Location</th>
						<th th:text="#{app.freeWeightInLocation}" style="font-weight: bold" class="tables">Free Weight in Location</th>
						<th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{app.company}" style="font-weight: bold" class="tables">Company</th>
						<th th:text="#{app.lastUpdate}" style="font-weight: bold" class="tables">Last update</th>
						<th th:text="#{app.chandedBy}" style="font-weight: bold" class="tables">Changed by</th>
					</tr>
				    <tr name="stockTR" th:each="storage: ${stock}" th:style="${storage.status.status == 'to_send'} == TRUE ? 'background: blue;border: solid 1px;' :'border: solid 1px;'" th:styleappend="${storage.status.status == 'on_reception'} == TRUE ? 'background: green;border: solid 1px;' :'border: solid 1px' " >
						<td th:if="${storage.pieces_qty} > 0" class="tables" th:text="${storage.location.locationName}"></td>
						<td th:title="${storage.comment != null} == TRUE ? ${storage.comment}" th:style="${storage.comment != null && storage.comment != ''} == TRUE ? 'background: gray;padding-bottom: 2px' : 'padding-bottom: 2px'" class="tables" style="padding-bottom: 2px">
							<ol class="arrowsDown"><div th:text="${storage.hd_number}"></div>
								<li>
									<ul>
										<li th:if="${storage.status.process.equals('Stock') && !storage.status.status.equals('transfer')}"><a  th:href="@{/storage/formChangeStatus/{id}(id=${storage.id})}"><span th:text="#{app.changeStatus}"></span></a></li>
										<li th:if="${storage.status.process.equals('Stock') && !storage.status.status.equals('transfer')}"><a  th:href="@{/storage/formChangeQuality/{id}(id=${storage.id})}"><span th:text="#{app.changeQuality}"></span></a></li>
										<li th:if="${storage.status.process.equals('Stock') && !storage.status.status.equals('transfer')}"><a  th:href="@{/storage/formChangeQty/{id}(id=${storage.id})}"><span th:text="#{app.changeQty}"></span></a></li>
										<li th:if="${storage.status.process.equals('Stock') && !storage.status.status.equals('transfer')}"><a  th:href="@{/storage/formChangeArticleNumber/{id}(id=${storage.id})}"><span th:text="#{app.changeArticle}"></span></a></li>
										<li th:if="${storage.status.process.equals('Stock') && !storage.status.status.equals('transfer')}"><a   th:href="@{/storage/formChangeUnit/{id}(id=${storage.id})}"><span th:text="#{app.changeUnit}"></span></a></li>
										<li th:if="${storage.status.process.equals('Stock') && !storage.status.status.equals('transfer')}"><a  th:href="@{/storage/formTransfer/{id}(id=${storage.id})}"><span th:text="#{app.transfer}"></span></a></li>
										<li><a th:href="@{/formAddComment/{id}(id=${storage.id})}" ><span th:text="#{app.addComment}"></span></a></li>
									</ul>
								</li>
							</ol>
						</td>
						<td class="tables" th:text="${storage.article.article_number}"></td>
				        <td class="tables" th:text="${storage.unit.name}"></td>
				        <td class="tables" th:text="${storage.pieces_qty}"></td>
				        <td class="tables" th:text="${storage.quality}"></td>
				        <td name="statusTD" class="tables" style="text-align: center;vertical-align: middle">
							<img class="makeItBigger" th:title="${storage.status.status}"/>
						</td>
				        <td class="tables" th:text="${#numbers.formatDecimal(storage.location.freeSpace,0,'COMMA',2,'POINT')}"></td>
				        <td class="tables" th:text="${storage.location.freeWeight}"></td>
						<td sec:authorize="hasRole('ROLE_ADMIN')" class="tables" th:text="${storage.company.name}"></td>
						<td class="tables" th:text="${#strings.replace(#strings.substring(storage.last_update,0,19),'T',' ')}"></td>
						<td class="tables" th:text="${storage.changeBy}"></td>
					</tr>
				    </tr>

				</table>

				<a th:href="@{/storage/formStock}"><div  class="buttonik arrowsRight" style="float: right;max-width: 20%;"><div th:text="#{app.createStock}"></div></div></a>

			</div><br/><br/>
			<div th:include="fragments/footer :: footer"></div>
		</div>
		<div class="w3copyright-agile">
			<p>© 2017 Tiny Ui Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/stock.js}"></script>

</body>

</html>