<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>WMS CLS app</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />

	<script src ="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>

	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">

	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body onload="addUserFailed()">
	<div class="main-agileits">
		<div th:include="fragments/header :: header"></div>
	</div>
	<div id="navigate-panel" style="float: left" class="mainw4-agileinfo">

		<div th:include="fragments/whichNavPanelF :: whichNavPanelF"></div>
	</div>

	<div id="content" class="mainw3-agileinfo">
		<div style="width: 1200px" class="login-form">
			<div style="background-color: #00BCD4;border-radius: 3px">
				<div class="titleList" th:text="#{app.users.info1}"></div><br>
				<div id="addUserFailed" style="color: red;text-align: center;font-size: 12px;font-weight: bold;" th:text="#{app.users.info2}"></div>
				<a th:href="@{/config/formUserCreation}"><div class="buttonik2" style="float: right;max-width: 20%;" th:text="#{app.addUser}"></div></a>
				<br/><br/>
				<table  style="color: white;text-align: left;width:100%;border: solid 1px">
					<tr style="border: solid 1px">
						<th class="tables" style="font-weight: bold">Login</th>
						<th class="tables" style="font-weight: bold">E-Mail</th>
						<th class="tables" style="font-weight: bold">Permissions</th>
						<th class="tables" style="font-weight: bold">Company</th>
						<th class="tables" style="font-weight: bold">Created</th>
						<th class="tables" style="font-weight: bold">Last Update</th>
						<th class="tables" style="font-weight: bold">Changed by</th>
					</tr>
				    <tr style="border: solid 1px" th:each="users: ${user}">
						<td class="tables" style="padding-bottom: 2px">
							<ol><div th:utext="${users.username}"></div>
								<li>
									<ul>
										<li><a th:text="#{app.deactivate}" th:href="@{/config/deleteUser/{activateToken}(activateToken=${users.activateToken})}">DEACTIVATE</a></li>
										<li><a th:text="#{app.edit}" th:href="@{/config/formUserEdit/{activateToken}(activateToken=${users.activateToken})}">EDIT</a></li>
									</ul>
								</li>
							</ol>
						</td>
						<td class="tables" th:text="${users.email}"></td>
				        <td class="tables" th:text="${users.usersRoles.role}"></td>
						<td class="tables" th:text="${users.company}"></td>
						<td class="tables" th:text="${#strings.replace(#strings.substring(users.created,0,19),'T',' ')}"></td>
						<td class="tables" th:text="${#strings.replace(#strings.substring(users.last_update,0,19),'T',' ')}"></td>
						<td class="tables" th:text="${users.changeBy}"></td>
					</tr>
				</table>
				<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/config/usersDeactivatedList}"><div th:text="#{app.deactivatedList}" class="buttonik" style="float: right;max-width: 20%;">Deactivated List</div></a>
			</div>

			<div th:include="fragments/footer :: footer"></div>
		</div>
		<div class="w3copyright-agile">
			<p>© 2017 Tiny Ui Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
		</div>
	</div>

	<script type="text/javascript" th:src= "@{/js/superplaceholder.js}"></script>
	<script type="text/javascript" th:src="@{/js/logo.js}"></script>
<script>
	function addUserFailed() {
		logo();
		setTimeout(function (){
			addUserFailed().fadeIn(4000)},4000)

		setTimeout(function changeStatus() {
			$("#addUserFailed").fadeOut(2000);
		}, 2000)
		$("#addUserFailed").fadeIn(2000)
	}
</script>
</body>
</html>