<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>WMS CLS app</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />

	<script src ="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>

	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">

	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body onload="logo()">
	<div class="main-agileits">
		<div th:include="fragments/header :: header"></div>
	</div>
	<div id="navigate-panel" style="float: left" class="mainw4-agileinfo">

		<div th:if="${#request.remoteUser.contains('admin')}">
			<div th:include="fragments/adminNavigation :: adminNavigation"></div>
		</div>

		<div th:unless="${#request.remoteUser.contains('admin')}">
			<div th:include="fragments/userNavigation :: userNavigation"></div>
		</div>
	</div>

	<div id="content" class="mainw3-agileinfo">
		<div style="width: 1000px" class="login-form">
			<div style="background-color: #00BCD4;border-radius: 3px">
<!--				<div th:text="'Your stock in' + ${warehouse.city}"></div>-->
				<div style="color: white;text-align: center;font-size: 20px;font-weight: bold;" th:text="'Users'"></div><br/><br/>
				<table  style="color: white;text-align: left;width:100%;border: solid 1px">
					<tr style="border: solid 1px">
						<th class="tables">Login</th>
						<th class="tables">E-Mail</th>
						<th class="tables">Permissions</th>
						<th class="tables">Company</th>
						<th class="tables">Created</th>
						<th class="tables">Last Update</th>
						<th class="tables">Changed by</th>
					</tr>
				    <tr style="border: solid 1px" th:each="users: ${user}">
						<td class="tables" style="padding-bottom: 2px">
							<ol><div th:utext="${users.username}"></div>
								<li>
									<ul>
										<li><a th:href="@{/deleteUser/{id}(id=${users.id})}">DEACTIVATE</a></li>
										<li><a th:href="@{/formUserEdit/{id}(id=${users.id})}">EDIT</a></li>
									</ul>
								</li>
							</ol>
						</td>
						<td class="tables" th:text="${users.email}"></td>
				        <td class="tables" th:text="${users.usersRoles.role}"></td>
						<td class="tables" th:text="${users.company}"></td>
						<td class="tables" th:text="${#strings.replace(#strings.substring(users.created,0,19),'T',' ')}"></td>
						<td class="tables" th:text="${#strings.replace(#strings.substring(users.last_update,0,19),'T',' ')}"></td>
						<td class="tables" th:text="${users.changeBy}"></td>
					</tr>
				</table>
			</div>

			<div th:include="fragments/footer :: footer"></div>
		</div>
		<div class="w3copyright-agile">
			<p>© 2017 Tiny Ui Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
		</div>
	</div>

	<script type="text/javascript" th:src= "@{/js/superplaceholder.js}"></script>
	<script type="text/javascript" th:src="@{/js/logo.js}"></script>
	<script>
	superplaceholder({
			el: input1,
			sentences: [ 'Write your Username', 'For example:', 'SuperUserStrojem','or', 'SuperUserbUDUJem' ],
			options: {
				loop: true,
				startOnFocus: false
			}
		})
		superplaceholder({
			el: input2,
			sentences: [ 'Write your Password', 'For example:', 'SuperUserStrojem','**', 'SuperUserbUDUJem' ],
			options: {
				loop: true,
				startOnFocus: false 
			}
		})
	</script>

</body>
</html>